<div class="modal-container">
  <div class="modal-header">
    <h4 class="modal-title">Editar</h4>
    <button class="close" type="button" aria-label="Close" (click)="activeModal.close()"><span aria-hidden="true">×</span></button>
  </div>
  <div class="modal-body">
    <div class="container-fluid mt-2">
      <div class="card">
        <div class="card-body pl-0">
          <div class="form form-max-height">

            <div class="col-12">
              <div class="form-group row">
                <label class="mt-1 col-3 align-text-right">Clave única:</label>
                <div class="col-sm-3 col-md-3">
                  <input
                    class="form-control form-control-sm"
                    type="text"
                    id="claveUnica"
                    name="claveUnica"
                    disabled
                    [(ngModel)]="selectedAcreditadoTabla4B.claveUnica"
                  />
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group row">
                <label class="mt-1 col-3 align-text-right">Nombre del acreditado:</label>
                <div class="col-sm-3 col-md-9">
                  <input
                    class="form-control form-control-sm"
                    type="text"
                    id="nombreAcreditado"
                    name="nombreAcreditado"
                    [(ngModel)]="
                            selectedAcreditadoTabla4B.nombreAcreditado
                          "
                  />
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group row">
                <label class="mt-1 col-3 align-text-right">Periodo:</label>
                <div class="col-sm-3 col-md-3">
                  <div class="input-group">
                    <input
                      class="form-control form-control-sm"
                      type="number"
                      id="periodo"
                      name="periodo"
                      [(ngModel)]="
                            selectedAcreditadoTabla4B.periodoReporta
                          "
                    />
                  </div>
                </div>
                <label class="mt-1 col-3 align-text-right"
                >Identificador del crédito:</label
                >
                <div class="col-sm-3 col-md-3">
                  <input
                    class="form-control form-control-sm"
                    type="text"
                    id="identificador"
                    name="identificador"
                    disabled
                    [(ngModel)]="
                            selectedAcreditadoTabla4B.identificadorCredito
                          "
                  />
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group row">
                <label class="mt-1 col-3 align-text-right">Clasificación contable:</label>
                <div class="col-sm-3 col-md-3 mt-2-3-int">
                  <input
                    class="form-control form-control-sm"
                    type="text"
                    id="clasificacion"
                    name="clasificacion"
                    [(ngModel)]="
                            selectedAcreditadoTabla4B.clasificacionContable
                          "
                  />
                </div>
                <label class="mt-1 col-3 align-text-right">Tipo de crédito:</label>
                <div class="col-sm-3 col-md-3">
                  <select
                    class="form-control form-control-sm"
                    id="tipoCredito"
                    name="tipoCredito"
                    [(ngModel)]="selectedTipoCobranza"
                  >
                    <ng-container *ngFor="let catalogo of catalogoTipoCredito">
                      <option [value]="catalogo.clave">{{ catalogo.descripcion }}</option>
                    </ng-container>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group row">
                <label class="mt-1 col-3 align-text-right">Moneda:</label>
                <div class="col-sm-3 col-md-3">
                  <select
                    class="form-control form-control-sm"
                    id="moneda"
                    name="moneda"
                    [(ngModel)]="selectedMonedat4"
                  >
                    <ng-container *ngFor="let catalogo of catalogoMonedat4">
                      <option [value]="catalogo.clave">{{ catalogo.descripcion }}</option>
                    </ng-container>
                  </select>
                </div>
                <label class="mt-1 col-3 align-text-right"
                >Con restricción y sin restricción:</label
                >
                <div class="col-sm-3 col-md-3 mt-2-3-int">
                  <select
                    class="form-control form-control-sm"
                    id="conYSinRestriccion"
                    name="conYSinRestriccion"
                    [(ngModel)]="selectedConSinRestricciones"
                  >
                    <ng-container *ngFor="let catalogo of catalogoConSinRestricciones">
                      <option [value]="catalogo.clave">{{ catalogo.descripcion }}</option>
                    </ng-container>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group row">
                <label class="mt-1 col-3 align-text-right"
                >Escala de los periodos de facturación:</label
                >
                <div class="col-sm-3 col-md-3 mt-2-3-int">
                  <select
                    class="form-control form-control-sm"
                    id="escalaPeriodosFacturacion"
                    name="escalaPeriodosFacturacion"
                    [(ngModel)]="selectedEscalaPeriodos"
                  >
                    <ng-container *ngFor="let catalogo of catalogoEscalaPeriodos">
                      <option [value]="catalogo.clave">{{ catalogo.descripcion }}</option>
                    </ng-container>
                  </select>
                </div>
                <label class="mt-1 col-3 align-text-right">Tipo de tasa:</label>
                <div class="col-sm-3 col-md-3">
                  <select
                    class="form-control form-control-sm"
                    id="tipoDeTasa"
                    name="TipoDeTasa"
                    [(ngModel)]="selectedTipoTasaCredito"
                  >
                    <ng-container *ngFor="let catalogo of catalogoTipoTasaCredito">
                      <option [value]="catalogo.clave">{{ catalogo.descripcion }}</option>
                    </ng-container>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group row">
                <label class="mt-1 col-3 align-text-right">Fecha de inicio:</label>
                <div class="col-sm-3 col-md-3">
                  <div class="input-group">
                    <input
                      class="form-control bg-white"
                      id="fechaInicio"
                      type="text"
                      ngbDatepicker
                      #c="ngbDatepicker"
                      placeholder="dd/mm/aaaa"
                      [(ngModel)]="fechaInicio"
                      name="fechaInicio"
                      (click)="c.toggle()"
                    />
                    <div class="input-group-append">
                      <button
                        class="btn btn-outline-secondary calendar"
                        (click)="c.toggle()"
                        type="button"
                      >
                        <fa-icon icon="calendar-alt"></fa-icon>
                      </button>
                    </div>
                  </div>
                </div>
                <label class="mt-1 col-3 align-text-right">Fecha de vencimiento:</label>
                <div class="col-sm-3 col-md-3">
                  <div class="input-group">
                    <input
                      class="form-control bg-white"
                      id="fechaVencimiento"
                      type="text"
                      ngbDatepicker
                      #d="ngbDatepicker"
                      placeholder="dd/mm/aaaa"
                      [(ngModel)]="
                              fechaVencimiento
                            "
                      name="fechaVencimiento"
                      (click)="d.toggle()"
                    />
                    <div class="input-group-append">
                      <button
                        class="btn btn-outline-secondary calendar"
                        (click)="d.toggle()"
                        type="button"
                      >
                        <fa-icon icon="calendar-alt"></fa-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group row">
                <label class="mt-1 col-3 align-text-right">Plazo total:</label>
                <div class="col-sm-3 col-md-3">
                  <input
                    class="form-control form-control-sm"
                    type="text"
                    id="plazoTotal"
                    name="plazoTotal"
                    [(ngModel)]="selectedAcreditadoTabla4B.plazoTotal"
                  />
                </div>
                <label class="mt-1 col-3 align-text-right"
                >Importe original del crédito:</label
                >
                <div class="col-sm-3 col-md-3">
                  <input
                    class="form-control form-control-sm"
                    type="text"
                    id="importeOriginal"
                    name="importeOriginal"
                    [(ngModel)]="
                            selectedAcreditadoTabla4B.importeOriginalCredito
                          "
                  />
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group row">
                <label class="mt-1 col-3 align-text-right">Tasa de interés:</label>
                <div class="col-sm-3 col-md-3">
                  <input
                    class="form-control form-control-sm"
                    type="text"
                    id="tasaInteres"
                    name="tasaInteres"
                    [(ngModel)]="selectedAcreditadoTabla4B.tasaInteres"
                  />
                </div>
                <label class="mt-1 col-3 align-text-right">Plazo renamente:</label>
                <div class="col-sm-3 col-md-3">
                  <input
                    class="form-control form-control-sm"
                    type="text"
                    id="plazoRenamente"
                    name="tasaInteres"
                    [(ngModel)]="selectedAcreditadoTabla4B.tasaInteres"
                  />
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group row">
                <label class="mt-1 col-3 align-text-right">Saldo de crédito:</label>
                <div class="col-sm-3 col-md-3">
                  <input
                    class="form-control form-control-sm"
                    type="text"
                    id="saldoCredito"
                    name="saldoCredito"
                    [(ngModel)]="
                            selectedAcreditadoTabla4B.saldoTotalCredito
                          "
                  />
                </div>
                <label class="mt-1 col-3 align-text-right">Monto exigible:</label>
                <div class="col-sm-3 col-md-3">
                  <input
                    class="form-control form-control-sm"
                    type="text"
                    id="montoExigible"
                    name="montoExigible"
                    [(ngModel)]="selectedAcreditadoTabla4B.montoExigible"
                  />
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group row">
                <label class="mt-1 col-3 align-text-right">Pago realizado:</label>
                <div class="col-sm-3 col-md-3">
                  <input
                    class="form-control form-control-sm"
                    type="text"
                    id="pagoRealizado"
                    name="pagoRealizado"
                    [(ngModel)]="selectedAcreditadoTabla4B.pagoRealizado"
                  />
                </div>
                <label class="mt-1 col-3 align-text-right">Dias de atraso:</label>
                <div class="col-sm-3 col-md-3">
                  <input
                    class="form-control form-control-sm"
                    type="text"
                    id="diasAtraso"
                    name="diasAtraso"
                    [(ngModel)]="selectedAcreditadoTabla4B.diasAtraso"
                  />
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group row">
                <label class="mt-1 col-3 align-text-right">Tipo de garantía:</label>
                <div class="col-sm-3 col-md-3">
                  <select
                    class="form-control form-control-sm"
                    id="tipoGarantia"
                    name="tipoGarantia"
                    [(ngModel)]="selectedTipoGarantiat4"
                  >
                    <ng-container *ngFor="let catalogo of catalogoTipoGarantiat4">
                      <option [value]="catalogo.clave">{{ catalogo.descripcion }}</option>
                    </ng-container>
                  </select>
                </div>
                <label class="mt-1 col-3 align-text-right">Importe de garantía:</label>
                <div class="col-sm-3 col-md-3">
                  <input
                    class="form-control form-control-sm"
                    type="text"
                    id="importeGarantia"
                    name="importeGarantia"
                    [(ngModel)]="
                            selectedAcreditadoTabla4B.importeGarantia
                          "
                  />
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group row">
                <label class="mt-1 col-3 align-text-right"
                >Probabilidad de incumplimiento:</label
                >
                <div class="col-sm-3 col-md-3 mt-2-3-int">
                  <input
                    class="form-control form-control-sm"
                    type="text"
                    id="probabilidadadIncumplimiento"
                    name="probabilidadadIncumplimiento"
                    [(ngModel)]="
                            selectedAcreditadoTabla4B.probabilidadIncumplimiento
                          "
                  />
                </div>
                <label class="mt-1 col-3 align-text-right"
                >Severidad de la perdida no cubierta:</label
                >
                <div class="col-sm-3 col-md-3 mt-2-3-int">
                  <input
                    class="form-control form-control-sm"
                    type="text"
                    id="severidadPerdidaNoCubierta"
                    name="severidadPerdidaNoCubierta"
                    [(ngModel)]="
                            selectedAcreditadoTabla4B.severidadPerdidaNoCubierta
                          "
                  />
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group row">
                <label class="mt-1 col-3 align-text-right"
                >Severidad de la perdida cubierta:</label
                >
                <div class="col-sm-3 col-md-3 mt-2-3-int">
                  <input
                    class="form-control form-control-sm"
                    type="text"
                    id="severidadPerdidaCubierta"
                    name="severidadPerdidaCubierta"
                    [(ngModel)]="
                            selectedAcreditadoTabla4B.severidadPerdidaCubierta
                          "
                  />
                </div>
                <label class="mt-1 col-3 align-text-right">Reservas:</label>
                <div class="col-sm-3 col-md-3">
                  <input
                    class="form-control form-control-sm"
                    type="text"
                    id="reservas"
                    name="reservas"
                    [(ngModel)]="selectedAcreditadoTabla4B.reservas"
                  />
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group row">
                <label class="mt-1 col-3 align-text-right">Tipo de cobranza:</label>
                <div class="col-sm-3 col-md-3">
                  <select
                    class="form-control form-control-sm"
                    id="tipoCobranza"
                    name="tipoCobranza"
                    [(ngModel)]="selectedTipoCobranza"
                  >
                    <ng-container *ngFor="let catalogo of catalogoTipoCobranza">
                      <option [value]="catalogo.clave">{{ catalogo.descripcion }}</option>
                    </ng-container>
                  </select>
                </div>
                <label class="mt-1 col-3 align-text-right"
                >capital vencido operativo:</label
                >
                <div class="col-sm-3 col-md-3">
                  <input
                    class="form-control form-control-sm"
                    type="text"
                    id="capitalVencido"
                    name="capitalVencido"
                    [(ngModel)]="
                            selectedAcreditadoTabla4B.capitalVencidoOperativo
                          "
                  />
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group row">
                <label class="mt-1 col-3 align-text-right"
                >Intereses ordinarios exigibles:</label
                >
                <div class="col-sm-3 col-md-3 mt-4">
                  <input
                    class="form-control form-control-sm"
                    type="text"
                    id="interesesOrdinarios"
                    name="interesesOrdinarios"
                    [(ngModel)]="
                            selectedAcreditadoTabla4B.interesesOrdinariosExigibles
                          "
                  />
                </div>
                <label class="mt-1 col-3 align-text-right">Intereses moratorios:</label>
                <div class="col-sm-3 col-md-3">
                  <input
                    class="form-control form-control-sm"
                    type="text"
                    id="interesesMoratorios"
                    name="interesesMoratorios"
                    [(ngModel)]="
                            selectedAcreditadoTabla4B.interesesMoratorios
                          "
                  />
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group row">
                <label class="mt-1 col-3 align-text-right">Otros accesorios:</label>
                <div class="col-sm-3 col-md-3">
                  <input
                    class="form-control form-control-sm"
                    type="text"
                    id="otrosAccesorios"
                    name="otrosAccesorios"
                    [(ngModel)]="
                            selectedAcreditadoTabla4B.otrosAccesorios
                          "
                  />
                </div>
                <label class="mt-1 col-3 align-text-right"
                >Capital vigente operativo:</label
                >
                <div class="col-sm-3 col-md-3">
                  <input
                    class="form-control form-control-sm"
                    type="text"
                    id="capitaVigenteOperativo"
                    name="capitaVigenteOperativo"
                    [(ngModel)]="
                            selectedAcreditadoTabla4B.capitalVigenteOperativo
                          "
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <!-- Simple Buttons-->
    <button class="btn btn-success"
            (click)="onClickAceptar()"
            type="button"
    >
      Aceptar
    </button>
    <button
      class="btn btn-danger"
      type="button"
      (click)="activeModal.close('Close click')"
    >
      Cancelar
    </button>
  </div>
</div>
