<div class="container mt-3">
  <div class="section mt-3">
    <div class="row">
      <div class="col-12">
        <div class="container-fluid">
          <div class="row">
            <div class="flex-fill align-self-center">
              <h5>Operaciones pasivas</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card mt-3">
      <div class="card-body tabs-card">
        <ngb-tabset>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <b>Clientes</b>
            </ng-template>
            <ng-template ngbTabContent>
              <div class="card mt-2">
                <div class="card-body">
                  <div class="form">
                    <div class="form-row">
                      <div class="col-3">
                        <div class="input-group">
                          <label
                            class="col-lg-3 col-form-label form-control-label"
                          >
                            Fecha:
                          </label>
                          <input
                            class="form-control bg-white"
                            id="fechaProceso"
                            type="text"
                            ngbDatepicker
                            #d="ngbDatepicker"
                            placeholder="dd/mm/aaaa"
                            (focus)="d.toggle()"
                            name="fechaProceso"
                          />
                          <div class="input-group-append">
                            <button
                              class="btn btn-outline-secondary calendar"
                              (click)="d.toggle()"
                              type="button"
                            >
                              <fa-icon icon="calendar-alt"></fa-icon>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="input-group">
                          <div class="col-4 col-md-4 col-lg-2 mt-1">
                            <label class="mt-1"> RFC: </label>
                          </div>
                          <input
                            class="form-control"
                            id="nombreUsuario"
                            name="nombre"
                          />
                        </div>
                      </div>
                      <div class="col-4"></div>
                      <div class="col-2">
                        <div class="row">
                          <div class="col-md-12">
                            <div
                              class="btn-group d-flex justify-content-center"
                            >
                              <button class="btn btn-primary">
                                <fa-icon icon="search"></fa-icon>
                              </button>
                              <button
                                class="btn btn-primary"
                                (click)="openModalAltaModificacion()"
                              >
                                <fa-icon icon="edit"></fa-icon>
                              </button>
                              <button class="btn btn-primary" type="button">
                                <fa-icon icon="plus"></fa-icon>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-hover table-fixed">
                      <thead class="thead-light">
                        <tr class="hover-primary">
                          <th class="col-6" scope="col">Número de cliente</th>
                          <th class="col-6" scope="col">Nombre de cliente</th>
                        </tr>
                      </thead>
                      <tbody class="max-row-7">
                        <tr class="hover-primary">
                          <td class="col-6"></td>
                          <td class="col-6"></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <b>Patrimonial</b>
            </ng-template>
            <ng-template ngbTabContent>
              <div class="card mt-2">
                <div class="card-body">
                  <div class="form">
                    <div class="form-row">
                      <div class="col-3">
                        <div class="input-group">
                          <label
                            class="col-lg-3 col-form-label form-control-label"
                          >
                            Fecha:
                          </label>
                          <input
                            class="form-control bg-white"
                            id="fechaProceso"
                            type="text"
                            ngbDatepicker
                            #d="ngbDatepicker"
                            placeholder="dd/mm/aaaa"
                            (focus)="d.toggle()"
                            name="fechaProceso"
                          />
                          <div class="input-group-append">
                            <button
                              class="btn btn-outline-secondary calendar"
                              (click)="d.toggle()"
                              type="button"
                            >
                              <fa-icon icon="calendar-alt"></fa-icon>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="input-group">
                          <div class="col-4 col-md-4 col-lg-5 mt-1">
                            <label class="mt-1">Número de cliente:</label>
                          </div>
                          <input
                            class="form-control"
                            id="nombreUsuario"
                            name="nombre"
                          />
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="input-group">
                          <div class="col-4 col-md-4 col-lg-7 mt-1">
                            <label class="mt-1"
                              >Número de cuenta/Número de inversión:</label
                            >
                          </div>
                          <input
                            class="form-control"
                            id="apellidoPat"
                            name="apellidoPat"
                          />
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="row">
                          <div class="col-md-12">
                            <div
                              class="btn-group d-flex justify-content-center"
                            >
                              <button class="btn btn-primary">
                                <fa-icon icon="search"></fa-icon>
                              </button>
                              <button
                                class="btn btn-primary"
                                (click)="openModalPatrimonial()"
                              >
                                <fa-icon icon="edit"></fa-icon>
                              </button>
                              <button class="btn btn-primary" type="button">
                                <fa-icon icon="plus"></fa-icon>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-hover table-fixed">
                      <thead class="thead-light">
                        <tr class="hover-primary">
                          <th class="col-6" scope="col">Número de cliente</th>
                          <th class="col-6" scope="col">
                            Número de cuenta / Número de inversión
                          </th>
                        </tr>
                      </thead>
                      <tbody class="max-row-7">
                        <tr class="hover-primary">
                          <td class="col-6"></td>
                          <td class="col-6"></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <b>Clientes y cuentas</b>
            </ng-template>
            <ng-template ngbTabContent>
              <div class="card mt-2">
                <div class="card-body">
                  <div class="form">
                    <div class="form-row">
                      <div class="col-3">
                        <div class="input-group">
                          <label
                            class="col-lg-3 col-form-label form-control-label"
                          >
                            Fecha:
                          </label>
                          <input
                            class="form-control bg-white"
                            id="fechaProceso"
                            type="text"
                            ngbDatepicker
                            #d="ngbDatepicker"
                            placeholder="dd/mm/aaaa"
                            (focus)="d.toggle()"
                            name="fechaProceso"
                          />
                          <div class="input-group-append">
                            <button
                              class="btn btn-outline-secondary calendar"
                              (click)="d.toggle()"
                              type="button"
                            >
                              <fa-icon icon="calendar-alt"></fa-icon>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="input-group">
                          <div class="col-4 col-md-4 col-lg-4 mt-1">
                            <label class="mt-1">Cliente:</label>
                          </div>
                          <input
                            class="form-control"
                            id="nombreUsuario"
                            name="nombre"
                          />
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="input-group">
                          <div class="col-4 col-md-4 col-lg-4 mt-1">
                            <label class="mt-1">Cuenta:</label>
                          </div>
                          <input
                            class="form-control"
                            id="apellidoPat"
                            name="apellidoPat"
                          />
                        </div>
                      </div>
                      <div class="col-1"></div>
                      <div class="col-2">
                        <div class="row">
                          <div class="col-md-12">
                            <div
                              class="btn-group d-flex justify-content-center"
                            >
                              <button
                                class="btn btn-primary"
                                id="btnSearchTiposProductoCreditos"
                              >
                                <fa-icon icon="search"></fa-icon>
                              </button>
                              <!-- Botón editar grupo-->
                              <button
                                class="btn btn-primary"
                                type="button"
                                (click)="openModalEditarCuenta()"
                              >
                                <fa-icon icon="edit"></fa-icon>
                              </button>
                              <!-- Botón agregar grupos-->
                              <button
                                class="btn btn-primary"
                                id="btnSearchProspectos"
                                (click)="openModalAltaCuenta()"
                              >
                                <fa-icon icon="plus"></fa-icon>
                              </button>
                              <!-- Botón eliminar grupo-->
                              <button class="btn btn-primary" type="button">
                                <fa-icon icon="trash"></fa-icon>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-hover table-fixed">
                      <thead class="thead-light">
                        <tr class="hover-primary">
                          <th class="col-6" scope="col">Número de cliente</th>
                          <th class="col-6" scope="col">Número de cuenta</th>
                        </tr>
                      </thead>
                      <tbody class="max-row-7">
                        <tr class="hover-primary">
                          <td class="col-6"></td>
                          <td class="col-6"></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <b>Bloqueo de Saldos</b>
            </ng-template>
            <ng-template ngbTabContent>
              <div class="card mt-2">
                <div class="card-body">
                  <div class="form">
                    <div class="form-row">
                      <div class="col-3">
                        <div class="input-group">
                          <label
                            class="col-lg-3 col-form-label form-control-label"
                          >
                            Fecha:
                          </label>
                          <input
                            class="form-control bg-white"
                            id="fechaProceso"
                            type="text"
                            ngbDatepicker
                            #d="ngbDatepicker"
                            placeholder="dd/mm/aaaa"
                            (focus)="d.toggle()"
                            name="fechaProceso"
                          />
                          <div class="input-group-append">
                            <button
                              class="btn btn-outline-secondary calendar"
                              (click)="d.toggle()"
                              type="button"
                            >
                              <fa-icon icon="calendar-alt"></fa-icon>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="input-group">
                          <div class="col-4 col-md-4 col-lg-5 mt-1">
                            <label class="mt-1">Número de cuenta:</label>
                          </div>
                          <input
                            class="form-control"
                            id="nombreUsuario"
                            name="nombre"
                          />
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="input-group">
                          <div class="col-4 col-md-4 col-lg-4 mt-1">
                            <label class="mt-1">Número de bloqueos:</label>
                          </div>
                          <input
                            class="form-control"
                            id="apellidoPat"
                            name="apellidoPat"
                          />
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="row">
                          <div class="col-md-12">
                            <div
                              class="btn-group d-flex justify-content-center"
                            >
                              <!-- Botón buscar tipos de producto-->
                              <button
                                class="btn btn-primary"
                                id="btnSearchTiposProductoCreditos"
                              >
                                <fa-icon icon="search"></fa-icon>
                              </button>
                              <!-- Botón editar grupo-->
                              <button
                                class="btn btn-primary"
                                type="button"
                                (click)="openModalAltaBloqueo()"
                              >
                                <fa-icon icon="edit"></fa-icon>
                              </button>
                              <!-- Botón agregar producto-->
                              <button
                                class="btn btn-primary"
                                type="button"
                                (click)="openModalAltaBloqueo()"
                              >
                                <fa-icon icon="plus"></fa-icon>
                              </button>
                              <!-- Botón remover producto-->
                              <button class="btn btn-primary" type="button">
                                <fa-icon icon="trash"></fa-icon>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-hover table-fixed">
                      <thead class="thead-light">
                        <tr class="hover-primary">
                          <th class="col-6" scope="col">Número de cuenta</th>
                          <th class="col-6" scope="col">Número de bloqueo</th>
                        </tr>
                      </thead>
                      <tbody class="max-row-7">
                        <tr class="hover-primary">
                          <td class="col-6"></td>
                          <td class="col-6"></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>

          <ngb-tab>
            <ng-template ngbTabTitle>
              <b>Cierre de cuentas</b>
            </ng-template>
            <ng-template ngbTabContent>
              <div class="card mt-2">
                <div class="card-body">
                  <div class="form">
                    <div class="form-row">
                      <div class="col-3">
                        <div class="input-group">
                          <label
                            class="col-lg-3 col-form-label form-control-label"
                          >
                            Fecha:
                          </label>
                          <input
                            class="form-control bg-white"
                            id="fechaProceso"
                            type="text"
                            ngbDatepicker
                            #d="ngbDatepicker"
                            placeholder="dd/mm/aaaa"
                            (focus)="d.toggle()"
                            name="fechaProceso"
                          />
                          <div class="input-group-append">
                            <button
                              class="btn btn-outline-secondary calendar"
                              (click)="d.toggle()"
                              type="button"
                            >
                              <fa-icon icon="calendar-alt"></fa-icon>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="input-group">
                          <div class="col-4 col-md-4 col-lg-5 mt-1">
                            <label class="mt-1">Número de cliente:</label>
                          </div>
                          <input
                            class="form-control"
                            id="nombreUsuario"
                            name="nombre"
                          />
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="input-group">
                          <div class="col-4 col-md-4 col-lg-5 mt-1">
                            <label class="mt-1">Número de cuenta:</label>
                          </div>
                          <input
                            class="form-control"
                            id="apellidoPat"
                            name="apellidoPat"
                          />
                        </div>
                      </div>
                      <div class="col-1"></div>
                      <div class="col-2">
                        <div class="row">
                          <div class="col-md-12">
                            <div
                              class="btn-group d-flex justify-content-center"
                            >
                              <!-- Botón buscar tipos de producto-->
                              <button
                                class="btn btn-primary"
                                id="btnSearchTiposProductoCreditos"
                              >
                                <fa-icon icon="search"></fa-icon>
                              </button>
                              <!-- Botón editar grupo-->
                              <button
                                class="btn btn-primary"
                                type="button"
                                (click)="openModalAltaCierre()"
                              >
                                <fa-icon icon="edit"></fa-icon>
                              </button>
                              <!-- Botón agregar producto-->
                              <button
                                class="btn btn-primary"
                                type="button"
                                (click)="openModalAltaCierre()"
                              >
                                <fa-icon icon="plus"></fa-icon>
                              </button>
                              <!-- Botón remover producto-->
                              <button class="btn btn-primary" type="button">
                                <fa-icon icon="trash"></fa-icon>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-hover table-fixed">
                      <thead class="thead-light">
                        <tr class="hover-primary">
                          <th class="col-6" scope="col">Número de cuenta</th>
                          <th class="col-6" scope="col">Fecha Cierre</th>
                        </tr>
                      </thead>
                      <tbody class="max-row-7">
                        <tr class="hover-primary">
                          <td class="col-6"></td>
                          <td class="col-6"></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>

          <ngb-tab>
            <ng-template ngbTabTitle>
              <b>Clientes Duplicados IPAB</b>
            </ng-template>
            <ng-template ngbTabContent>
              <div class="card mt-2">
                <div class="card-body">
                  <div class="form">
                    <div class="form-row">
                      <div class="col-3">
                        <div class="input-group">
                          <label
                            class="col-lg-3 col-form-label form-control-label"
                          >
                            Fecha:
                          </label>
                          <input
                            class="form-control bg-white"
                            id="fechaProceso"
                            type="text"
                            ngbDatepicker
                            #d="ngbDatepicker"
                            placeholder="dd/mm/aaaa"
                            (focus)="d.toggle()"
                            name="fechaProceso"
                          />
                          <div class="input-group-append">
                            <button
                              class="btn btn-outline-secondary calendar"
                              (click)="d.toggle()"
                              type="button"
                            >
                              <fa-icon icon="calendar-alt"></fa-icon>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="input-group">
                          <div class="col-4 col-md-4 col-lg-4 mt-1">
                            <label class="mt-1">Cliente principal:</label>
                          </div>
                          <input
                            class="form-control"
                            id="nombreUsuario"
                            name="nombre"
                          />
                        </div>
                      </div>
                      <div class="col-3"></div>
                      <div class="col-2">
                        <div class="row">
                          <div class="col-md-12">
                            <div
                              class="btn-group d-flex justify-content-center"
                            >
                              <!-- Botón buscar tipos de producto-->
                              <button
                                class="btn btn-primary"
                                id="btnSearchTiposProductoCreditos"
                              >
                                <fa-icon icon="search"></fa-icon>
                              </button>
                              <!-- Botón editar grupo-->
                              <button
                                class="btn btn-primary"
                                type="button"
                                (click)="openModalAltDuplicado()"
                              >
                                <fa-icon icon="edit"></fa-icon>
                              </button>
                              <!-- Botón agregar producto-->
                              <button
                                class="btn btn-primary"
                                type="button"
                                (click)="openModalAltDuplicado()"
                              >
                                <fa-icon icon="plus"></fa-icon>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-hover table-fixed">
                      <thead class="thead-light">
                        <tr class="hover-primary">
                          <th class="col-12" scope="col">Cliente principal</th>
                        </tr>
                      </thead>
                      <tbody class="max-row-7">
                        <tr class="hover-primary">
                          <td class="col-12"></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <b>Exceptuados IPAB</b>
            </ng-template>
            <ng-template ngbTabContent>
              <div class="card mt-2">
                <div class="card-body">
                  <div class="form">
                    <div class="form-row">
                      <div class="col-3">
                        <div class="input-group">
                          <label
                            class="col-lg-4 col-form-label form-control-label"
                          >
                            Fecha:
                          </label>
                          <input
                            class="form-control bg-white"
                            id="fechaCreditoNoRevolvente"
                            type="text"
                            ngbDatepicker
                            #f="ngbDatepicker"
                            placeholder="dd/mm/aaaa"
                            (focus)="f.toggle()"
                            name="fechaCreditoNoRevolvente"
                            (keydown)="onKeydown($event)"
                            [(ngModel)]="fechaExceptuadosIPAB"
                          />
                          <div class="input-group-append">
                            <button
                              class="btn btn-outline-secondary calendar"
                              (click)="f.toggle()"
                              type="button"
                            >
                              <fa-icon icon="calendar-alt"></fa-icon>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="input-group">
                          <div class="col-5 col-md-5 col-lg-5 mt-1">
                            <label class="mt-1 ml-4">Cliente:</label>
                          </div>
                          <input
                            class="form-control"
                            id="clienteCreditoNoRevolvente"
                            name="clienteCreditoNoRevolvente"
                            [(ngModel)]="clienteExceptuadosIPAB"
                          />
                        </div>
                      </div>
                      <div class="col-4"></div>
                      <div class="col-2">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="btn-group d-flex justify-content-center">
                              <!-- Botón buscar tipos de producto-->
                              <button
                                class="btn btn-primary"
                                id="btnSearchTiposProductoCreditos"
                              >
                                <fa-icon icon="search"></fa-icon>
                              </button>
                              <!-- Botón editar grupo-->
                              <button
                                class="btn btn-primary"
                                type="button"
                                (click)="openModalAltaExceptuados()"
                              >
                                <fa-icon icon="edit"></fa-icon>
                              </button>
                              <!-- Botón agregar-->
                              <button
                                class="btn btn-primary"
                                type="button"
                                (click)="openModalEditarExceptuados()"
                              >
                                <fa-icon icon="plus"></fa-icon>
                              </button>
                              <!-- Botón remover producto-->
                              <button
                                class="btn btn-primary"
                                type="button"
                              >
                                <fa-icon icon="minus"></fa-icon>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-hover table-fixed">
                      <thead class="thead-light">
                      <tr class="hover-primary">
                        <th class="col-6" scope="col">Cliente</th>
                        <th class="col-6" scope="col">Nombre Cliente</th>
                      </tr>
                      </thead>
                      <tbody class="max-row-7">
                      <tr class="hover-primary">
                        <td class="col-6"></td>
                        <td class="col-6"></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
        <div class="modal-footer">
          <button class="btn btn-danger" type="button">Cancelar</button>
          <button class="btn btn-success" type="button">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
</div>
