<div class="container mt-3">
  <div class="section mt-3">
    <div class="row">
      <div class="col-12">
        <div class="container-fluid">
          <div class="row">
            <div class="flex-fill align-self-center">
              <h5>Operaciones pasivas</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card mt-3">
      <div class="card-body tabs-card">
        <ngb-tabset>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <b>Clientes</b>
            </ng-template>
            <ng-template ngbTabContent>
              <h5 class="mt-3 ml-3 setBolder">Clientes</h5>
              <div class="card mt-2">
                <div class="card-header pb-0 pt-0">
                  <div class="flex-fill align-self-center">
                    <label
                      class="
                        col-lg-3 col-form-label
                        form-control-label
                        setBolder
                        pb-0
                      "
                    >
                      Criterios de búsqueda:
                    </label>
                  </div>
                </div>
                <div class="card-body pl-0 pr-0">
                  <div class="form">
                    <div class="form-row">
                      <div class="col-11 row">
                        <div class="col-1 pr-0 pl-0">
                          <label class="ml-4 col-form-label form-control-label">
                            Número de Cliente:
                          </label>
                        </div>
                        <div class="col-2 mt-3">
                          <input
                            class="form-control"
                            id="numeroCliente"
                            name="numeroCliente"
                            [(ngModel)]="numeroCliente"
                          />
                        </div>
                        <div class="col-1 pr-0 pl-0">
                          <label class="ml-4 col-form-label form-control-label">
                            Nombre o Razón social:
                          </label>
                        </div>
                        <div class="col-2 mt-3">
                          <input
                            class="form-control"
                            id="nombreCliente"
                            name="nombreCliente"
                            [(ngModel)]="nombreCliente"
                          />
                        </div>
                        <div class="col-1 pr-0 pl-0">
                          <label class="ml-4 col-form-label form-control-label">
                            Apellido Paterno:
                          </label>
                        </div>
                        <div class="col-2 mt-3">
                          <input
                            class="form-control"
                            id="apellidoPaterno"
                            name="apellidoPaterno"
                            [(ngModel)]="apellidoPaterno"
                          />
                        </div>
                        <div class="col-1 pr-0 pl-0">
                          <label class="ml-4 col-form-label form-control-label">
                            Apellido Materno:
                          </label>
                        </div>
                        <div class="col-2 mt-3">
                          <input
                            class="form-control"
                            id="apellidoMaterno"
                            name="apellidoMaterno"
                            [(ngModel)]="apellidoMaterno"
                          />
                        </div>
                      </div>
                      <div class="col-1 mt-3">
                        <div class="row justify-content-search">
                          <div class="col-md-6">
                            <div
                              class="btn-group d-flex justify-content-center"
                            >
                              <button
                                class="btn btn-primary"
                                (click)="searchClientes()"
                              >
                                <fa-icon icon="search"></fa-icon>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <div class="card-body height-card-table">
                  <div class="row">
                    <div class="col-md-11">
                      <div class="table-responsive">
                        <table class="table table-hover table-fixed">
                          <thead class="thead-light">
                            <tr class="hover-primary">
                              <th class="col-3" scope="col">
                                Número de Cliente
                              </th>
                              <th class="col-3" scope="col">Nombre Cliente</th>
                              <th class="col-3" scope="col">
                                Apellido Paterno
                              </th>
                              <th class="col-3" scope="col">
                                Apellido Materno
                              </th>
                            </tr>
                          </thead>
                          <tbody class="max-row-7 table-scroll">
                            <tr
                              *ngFor="
                                let cliente of listaClientes;
                                let indexOfelement = index
                              "
                              class="cursor-pointer hover-primary"
                              (click)="selectClient(indexOfelement)"
                              [ngClass]="{
                                'table-active':
                                  selectedCliente === indexOfelement
                              }"
                            >
                              <td class="col-3">{{ cliente.idCliente }}</td>
                              <td class="col-3">{{ cliente.nombreCliente }}</td>
                              <td class="col-3">
                                {{ cliente.apellidoPaterno }}
                              </td>
                              <td class="col-3">
                                {{ cliente.apellidoMaterno }}
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="col-md-1 justify-content-buttons">
                      <div
                        class="row justify-content-edit-button"
                        style="display: none"
                      >
                        <button class="btn btn-primary" type="button">
                          <fa-icon icon="plus"></fa-icon>
                        </button>
                      </div>
                      <div class="row justify-content-edit-button">
                        <button
                          class="btn btn-primary"
                          [disabled]="selectedCliente == null"
                          (click)="openModalCliente('edit')"
                        >
                          <fa-icon icon="edit"></fa-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <b>Patrimonial</b>
            </ng-template>
            <ng-template ngbTabContent>
              <h5 class="mt-3 ml-3 setBolder">Patrimonial</h5>
              <div class="card mt-2">
                <div class="card-header pb-0 pt-0">
                  <div class="flex-fill align-self-center">
                    <label
                      class="
                        col-lg-3 col-form-label
                        form-control-label
                        setBolder
                        pb-0
                      "
                    >
                      Criterios de búsqueda:
                    </label>
                  </div>
                </div>
                <div class="card-body pl-0 pr-0">
                  <div class="form">
                    <div class="form-row">
                      <div class="col-11 row">
                        <div class="col-1 pr-0 pl-0">
                          <label class="ml-4 col-form-label form-control-label">
                            Número de Cliente:
                          </label>
                        </div>
                        <div class="col-2 mt-3">
                          <input
                            class="form-control"
                            id="patrimonialNumeroCliente"
                            name="patrimonialNumeroCliente"
                            [(ngModel)]="patrimonialNumeroCliente"
                          />
                        </div>
                        <div class="col-1 pr-0 pl-0">
                          <label class="ml-4 col-form-label form-control-label">
                            Nombre o Razón social:
                          </label>
                        </div>
                        <div class="col-2 mt-3">
                          <input
                            class="form-control"
                            id="patrimonialNombreCliente"
                            name="patrimonialNombreCliente"
                            [(ngModel)]="patrimonialNombreCliente"
                          />
                        </div>
                        <div class="col-1 pr-0 pl-0">
                          <label class="ml-4 col-form-label form-control-label">
                            Apellido Paterno:
                          </label>
                        </div>
                        <div class="col-2 mt-3">
                          <input
                            class="form-control"
                            id="patrimonialApellidoPaterno"
                            name="patrimonialApellidoPaterno"
                            [(ngModel)]="patrimonialApellidoPaterno"
                          />
                        </div>
                        <div class="col-1 pr-0 pl-0">
                          <label class="ml-4 col-form-label form-control-label">
                            Apellido Materno:
                          </label>
                        </div>
                        <div class="col-2 mt-3">
                          <input
                            class="form-control"
                            id="patrimonialApellidoMaterno"
                            name="patrimonialApellidoMaterno"
                            [(ngModel)]="patrimonialApellidoMaterno"
                          />
                        </div>
                      </div>
                      <div class="col-1 mt-3">
                        <div class="row justify-content-search">
                          <div class="col-md-6">
                            <div
                              class="btn-group d-flex justify-content-center"
                            >
                              <button
                                class="btn btn-primary"
                                (click)="searchPatrimoniales()"
                              >
                                <fa-icon icon="search"></fa-icon>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <div class="card-body height-card-table">
                  <div class="row">
                    <div class="col-md-11">
                      <div class="table-responsive">
                        <table class="table table-hover table-fixed">
                          <thead class="thead-light">
                            <tr class="hover-primary">
                              <th class="col-2" scope="col">
                                Número de Cliente
                              </th>
                              <th class="col-2" scope="col">
                                Número de Cuenta
                              </th>
                              <th class="col-2" scope="col">
                                Número de Inversión
                              </th>
                              <th class="col-2" scope="col">Nombre Cliente</th>
                              <th class="col-2" scope="col">
                                Apellido Paterno
                              </th>
                              <th class="col-2" scope="col">
                                Apellido Materno
                              </th>
                            </tr>
                          </thead>
                          <tbody class="max-row-7 table-scroll">
                            <tr
                              *ngFor="
                                let patrimonial of listaPatrimonial;
                                let indexOfelement = index
                              "
                              class="cursor-pointer hover-primary"
                              (click)="selectPatrimonial(indexOfelement)"
                              [ngClass]="{
                                'table-active':
                                  selectedPatrimonial === indexOfelement
                              }"
                            >
                              <td class="col-2">
                                {{ patrimonial.numeroCliente }}
                              </td>
                              <td class="col-2">
                                {{ patrimonial.numeroCuenta }}
                              </td>
                              <td class="col-2">
                                {{ patrimonial.numeroInversion }}
                              </td>
                              <td class="col-2">
                                {{ patrimonial.nombre }}
                              </td>
                              <td class="col-2">
                                {{ patrimonial.apellidoPat }}
                              </td>
                              <td class="col-2">
                                {{ patrimonial.apellidoMat }}
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="col-md-1 justify-content-buttons">
                      <div class="row justify-content-edit-button">
                        <button
                          class="btn btn-primary"
                          type="button"
                          (click)="openModalPatrimonial('new')"
                        >
                          <fa-icon icon="plus"></fa-icon>
                        </button>
                      </div>
                      <div class="row justify-content-edit-button">
                        <button
                          class="btn btn-primary"
                          (click)="openModalPatrimonial('edit')"
                          [disabled]="selectedPatrimonial == null"
                        >
                          <fa-icon icon="edit"></fa-icon>
                        </button>
                      </div>
                      <div
                        class="row justify-content-edit-button"
                        style="display: none"
                      >
                        <button class="btn btn-primary">
                          <fa-icon icon="trash"></fa-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <b>Clientes y Cuentas</b>
            </ng-template>
            <ng-template ngbTabContent>
              <h5 class="mt-3 ml-3 setBolder">Clientes y Cuentas</h5>
              <div class="card mt-2">
                <div class="card-header pb-0 pt-0">
                  <div class="flex-fill align-self-center">
                    <label
                      class="
                        col-lg-3 col-form-label
                        form-control-label
                        setBolder
                        pb-0
                      "
                    >
                      Criterios de búsqueda:
                    </label>
                  </div>
                </div>
                <div class="card-body pl-0 pr-0">
                  <div class="form">
                    <div class="form-row">
                      <div class="col-11 row">
                        <div class="col-1 pr-0 pl-0">
                          <label class="ml-4 col-form-label form-control-label">
                            Número de Cliente:
                          </label>
                        </div>
                        <div class="col-2 mt-3">
                          <input
                            class="form-control"
                            id="patrimonialNumeroCliente"
                            name="patrimonialNumeroCliente"
                            [(ngModel)]="patrimonialNumeroCliente"
                          />
                        </div>
                        <div class="col-1 pr-0 pl-0">
                          <label class="ml-4 col-form-label form-control-label">
                            Nombre o Razón social:
                          </label>
                        </div>
                        <div class="col-2 mt-3">
                          <input
                            class="form-control"
                            id="patrimonialNombreCliente"
                            name="patrimonialNombreCliente"
                            [(ngModel)]="patrimonialNombreCliente"
                          />
                        </div>
                        <div class="col-1 pr-0 pl-0">
                          <label class="ml-4 col-form-label form-control-label">
                            Apellido Paterno:
                          </label>
                        </div>
                        <div class="col-2 mt-3">
                          <input
                            class="form-control"
                            id="patrimonialApellidoPaterno"
                            name="patrimonialApellidoPaterno"
                            [(ngModel)]="patrimonialApellidoPaterno"
                          />
                        </div>
                        <div class="col-1 pr-0 pl-0">
                          <label class="ml-4 col-form-label form-control-label">
                            Apellido Materno:
                          </label>
                        </div>
                        <div class="col-2 mt-3">
                          <input
                            class="form-control"
                            id="patrimonialApellidoMaterno"
                            name="patrimonialApellidoMaterno"
                            [(ngModel)]="patrimonialApellidoMaterno"
                          />
                        </div>
                      </div>
                      <div class="col-1 mt-3">
                        <div class="row justify-content-search">
                          <div class="col-md-6">
                            <div
                              class="btn-group d-flex justify-content-center"
                            >
                              <button class="btn btn-primary">
                                <fa-icon icon="search"></fa-icon>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <div class="card-body height-card-table">
                  <div class="row">
                    <div class="col-md-11">
                      <div class="table-responsive">
                        <table class="table table-hover table-fixed">
                          <thead class="thead-light">
                            <tr class="hover-primary">
                              <th class="col-2" scope="col">
                                Número de Cliente
                              </th>
                              <th class="col-2" scope="col">
                                Número de Cuenta
                              </th>
                              <th class="col-3" scope="col">Nombre Cliente</th>
                              <th class="col-2" scope="col">
                                Apellido Paterno
                              </th>
                              <th class="col-3" scope="col">
                                Apellido Materno
                              </th>
                            </tr>
                          </thead>
                          <tbody class="max-row-7 table-scroll">
                            <tr class="cursor-pointer hover-primary"></tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="col-md-1 justify-content-buttons">
                      <div class="row justify-content-edit-button">
                        <button
                          class="btn btn-primary"
                          type="button"
                          (click)="openModalEditarCuenta()"
                        >
                          <fa-icon icon="plus"></fa-icon>
                        </button>
                      </div>
                      <div class="row justify-content-edit-button">
                        <button
                          class="btn btn-primary"
                          (click)="openModalEditarCuenta()"
                        >
                          <fa-icon icon="edit"></fa-icon>
                        </button>
                      </div>
                      <div class="row justify-content-edit-button">
                        <button class="btn btn-primary">
                          <fa-icon icon="trash"></fa-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <b>Bloqueo de Saldos</b>
            </ng-template>
            <ng-template ngbTabContent>
              <h5 class="mt-3 ml-3 setBolder">Bloqueo de Saldos</h5>
              <div class="card mt-2">
                <div class="card-header pb-0 pt-0">
                  <div class="flex-fill align-self-center">
                    <label
                      class="
                        col-lg-3 col-form-label
                        form-control-label
                        setBolder
                        pb-0
                      "
                    >
                      Criterios de búsqueda:
                    </label>
                  </div>
                </div>
                <div class="card-body pl-0 pr-0">
                  <div class="form">
                    <div class="form-row">
                      <div class="col-11 row">
                        <div class="col-1 pr-0 pl-0">
                          <label class="ml-4 col-form-label form-control-label">
                            Número de Cliente:
                          </label>
                        </div>
                        <div class="col-2 mt-3">
                          <input
                            class="form-control"
                            id="bloqueosNumeroCliente"
                            name="bloqueosNumeroCliente"
                            [(ngModel)]="bloqueosNumeroCliente"
                          />
                        </div>
                        <div class="col-1 pr-0 pl-0">
                          <label class="ml-4 col-form-label form-control-label">
                            Nombre o Razón social:
                          </label>
                        </div>
                        <div class="col-2 mt-3">
                          <input
                            class="form-control"
                            id="bloqueosNombreCliente"
                            name="bloqueosNombreCliente"
                            [(ngModel)]="bloqueosNombreCliente"
                          />
                        </div>
                        <div class="col-1 pr-0 pl-0">
                          <label class="ml-4 col-form-label form-control-label">
                            Apellido Paterno:
                          </label>
                        </div>
                        <div class="col-2 mt-3">
                          <input
                            class="form-control"
                            id="bloqueosApellidoPaterno"
                            name="bloqueosApellidoPaterno"
                            [(ngModel)]="bloqueosApellidoPaterno"
                          />
                        </div>
                        <div class="col-1 pr-0 pl-0">
                          <label class="ml-4 col-form-label form-control-label">
                            Apellido Materno:
                          </label>
                        </div>
                        <div class="col-2 mt-3">
                          <input
                            class="form-control"
                            id="bloqueosApellidoMaterno"
                            name="bloqueosApellidoMaterno"
                            [(ngModel)]="bloqueosApellidoMaterno"
                          />
                        </div>
                      </div>
                      <div class="col-1 mt-3">
                        <div class="row justify-content-search">
                          <div class="col-md-6">
                            <div
                              class="btn-group d-flex justify-content-center"
                            >
                              <button
                                class="btn btn-primary"
                                (click)="searchBloqueos()"
                              >
                                <fa-icon icon="search"></fa-icon>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <div class="card-body height-card-table">
                  <div class="row">
                    <div class="col-md-11">
                      <div class="table-responsive">
                        <table class="table table-hover table-fixed">
                          <thead class="thead-light">
                            <tr class="hover-primary">
                              <th class="col-2" scope="col">
                                Número de Cliente
                              </th>
                              <th class="col-2" scope="col">
                                Número de Bloqueo
                              </th>
                              <th class="col-3" scope="col">Nombre Cliente</th>
                              <th class="col-2" scope="col">
                                Apellido Paterno
                              </th>
                              <th class="col-3" scope="col">
                                Apellido Materno
                              </th>
                            </tr>
                          </thead>
                          <tbody class="max-row-7 table-scroll">
                            <tr
                              *ngFor="
                                let bloqueo of listaBloqueos;
                                let indexOfelement = index
                              "
                              class="cursor-pointer hover-primary"
                              (click)="selectBloqueo(indexOfelement)"
                              [ngClass]="{
                                'table-active':
                                  selectedBloqueo === indexOfelement
                              }"
                            >
                              <td class="col-2">{{ bloqueo.idCuenta }}</td>
                              <td class="col-2">{{ bloqueo.idBloqueo }}</td>
                              <td class="col-3">{{ bloqueo.nombre }}</td>
                              <td class="col-2">{{ bloqueo.apellidoPat }}</td>
                              <td class="col-3">{{ bloqueo.apellidoMat }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="col-md-1 justify-content-buttons">
                      <div class="row justify-content-edit-button">
                        <button
                          class="btn btn-primary"
                          type="button"
                          (click)="openModalAltaBloqueo(any)"
                        >
                          <fa-icon icon="plus"></fa-icon>
                        </button>
                      </div>
                      <div
                        class="row justify-content-edit-button"
                        style="display: none"
                      >
                        <button class="btn btn-primary">
                          <fa-icon icon="edit"></fa-icon>
                        </button>
                      </div>
                      <div class="row justify-content-edit-button">
                        <button
                          class="btn btn-primary"
                          (click)="onClickEliminarBloqueo()"
                          [disabled]="selectedBloqueo == null"
                        >
                          <fa-icon icon="trash"></fa-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>

          <ngb-tab>
            <ng-template ngbTabTitle>
              <b>Cierre de cuentas</b>
            </ng-template>
            <ng-template ngbTabContent>
              <h5 class="mt-3 ml-3 setBolder">Cierre de Cuentas</h5>
              <div class="card mt-2">
                <div class="card-header pb-0 pt-0">
                  <div class="flex-fill align-self-center">
                    <label
                      class="
                        col-lg-3 col-form-label
                        form-control-label
                        setBolder
                        pb-0
                      "
                    >
                      Criterios de búsqueda:
                    </label>
                  </div>
                </div>
                <div class="card-body pl-0 pr-0">
                  <div class="form">
                    <div class="form-row">
                      <div class="col-11 row">
                        <div class="col-1 pr-0 pl-0">
                          <label class="ml-4 col-form-label form-control-label">
                            Número de Cliente:
                          </label>
                        </div>
                        <div class="col-2 mt-3">
                          <input
                            class="form-control"
                            id="cierreCuentasNumeroCliente"
                            name="cierreCuentasNumeroCliente"
                            [(ngModel)]="cierreCuentasNumeroCliente"
                          />
                        </div>
                        <div class="col-1 pr-0 pl-0">
                          <label class="ml-4 col-form-label form-control-label">
                            Nombre o Razón social:
                          </label>
                        </div>
                        <div class="col-2 mt-3">
                          <input
                            class="form-control"
                            id="cierreCuentasNombreCliente"
                            name="cierreCuentasNombreCliente"
                            [(ngModel)]="cierreCuentasNombreCliente"
                          />
                        </div>
                        <div class="col-1 pr-0 pl-0">
                          <label class="ml-4 col-form-label form-control-label">
                            Apellido Paterno:
                          </label>
                        </div>
                        <div class="col-2 mt-3">
                          <input
                            class="form-control"
                            id="cierreCuentasApellidoPaterno"
                            name="cierreCuentasApellidoPaterno"
                            [(ngModel)]="cierreCuentasApellidoPaterno"
                          />
                        </div>
                        <div class="col-1 pr-0 pl-0">
                          <label class="ml-4 col-form-label form-control-label">
                            Apellido Materno:
                          </label>
                        </div>
                        <div class="col-2 mt-3">
                          <input
                            class="form-control"
                            id="cierreCuentasApellidoMaterno"
                            name="cierreCuentasApellidoMaterno"
                            [(ngModel)]="cierreCuentasApellidoMaterno"
                          />
                        </div>
                      </div>
                      <div class="col-1 mt-3">
                        <div class="row justify-content-search">
                          <div class="col-md-6">
                            <div
                              class="btn-group d-flex justify-content-center"
                            >
                              <button
                                class="btn btn-primary"
                                (click)="searchCierreCuentas()"
                              >
                                <fa-icon icon="search"></fa-icon>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <div class="card-body height-card-table">
                  <div class="row">
                    <div class="col-md-11">
                      <div class="table-responsive">
                        <table class="table table-hover table-fixed">
                          <thead class="thead-light">
                            <tr class="hover-primary">
                              <th class="col-2" scope="col">
                                Número de Cliente
                              </th>
                              <th class="col-2" scope="col">
                                Número de Cuenta
                              </th>
                              <th class="col-3" scope="col">Nombre Cliente</th>
                              <th class="col-2" scope="col">
                                Apellido Paterno
                              </th>
                              <th class="col-3" scope="col">
                                Apellido Materno
                              </th>
                            </tr>
                          </thead>
                          <tbody class="max-row-7 table-scroll">
                            <tr
                              *ngFor="
                                let cierre of listaCierreCuentas;
                                let indexOfelement = index
                              "
                              class="cursor-pointer hover-primary"
                              (click)="selectCierre(indexOfelement)"
                              [ngClass]="{
                                'table-active':
                                  selectedCierre === indexOfelement
                              }"
                            >
                              <td class="col-2">{{ cierre.idTitular }}</td>
                              <td class="col-2">{{ cierre.idCuenta }}</td>
                              <td class="col-3">{{ cierre.nombre }}</td>
                              <td class="col-2">{{ cierre.apellidoPat }}</td>
                              <td class="col-3">{{ cierre.apellidoMat }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="col-md-1 justify-content-buttons">
                      <div class="row justify-content-edit-button">
                        <button
                          class="btn btn-primary"
                          type="button"
                          (click)="openModalAltaCierre()"
                        >
                          <fa-icon icon="plus"></fa-icon>
                        </button>
                      </div>
                      <div
                        class="row justify-content-edit-button"
                        style="display: none"
                      >
                        <button class="btn btn-primary">
                          <fa-icon icon="edit"></fa-icon>
                        </button>
                      </div>
                      <div class="row justify-content-edit-button">
                        <button
                          class="btn btn-primary"
                          (click)="onClickEliminarCierre()"
                          [disabled]="selectedCierre == null"
                        >
                          <fa-icon icon="trash"></fa-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>

          <ngb-tab>
            <ng-template ngbTabTitle>
              <b>Clientes Duplicados IPAB</b>
            </ng-template>
            <ng-template ngbTabContent>
              <h5 class="mt-3 ml-3 setBolder">Clientes Duplicados IPAB</h5>
              <div class="card mt-2">
                <div class="card-header pb-0 pt-0">
                  <div class="flex-fill align-self-center">
                    <label
                      class="
                        col-lg-3 col-form-label
                        form-control-label
                        setBolder
                        pb-0
                      "
                    >
                      Criterios de búsqueda:
                    </label>
                  </div>
                </div>
                <div class="card-body pl-0 pr-0">
                  <div class="form">
                    <div class="form-row">
                      <div class="col-11 row">
                        <div class="col-1 pr-0 pl-0">
                          <label class="ml-4 col-form-label form-control-label">
                            Número de Cliente:
                          </label>
                        </div>
                        <div class="col-2 mt-3">
                          <input
                            class="form-control"
                            id="cierreCuentasNumeroCliente"
                            name="cierreCuentasNumeroCliente"
                            [(ngModel)]="cierreCuentasNumeroCliente"
                          />
                        </div>
                        <div class="col-1 pr-0 pl-0">
                          <label class="ml-4 col-form-label form-control-label">
                            Nombre o Razón social:
                          </label>
                        </div>
                        <div class="col-2 mt-3">
                          <input
                            class="form-control"
                            id="cierreCuentasNombreCliente"
                            name="cierreCuentasNombreCliente"
                            [(ngModel)]="cierreCuentasNombreCliente"
                          />
                        </div>
                        <div class="col-1 pr-0 pl-0">
                          <label class="ml-4 col-form-label form-control-label">
                            Apellido Paterno:
                          </label>
                        </div>
                        <div class="col-2 mt-3">
                          <input
                            class="form-control"
                            id="cierreCuentasApellidoPaterno"
                            name="cierreCuentasApellidoPaterno"
                            [(ngModel)]="cierreCuentasApellidoPaterno"
                          />
                        </div>
                        <div class="col-1 pr-0 pl-0">
                          <label class="ml-4 col-form-label form-control-label">
                            Apellido Materno:
                          </label>
                        </div>
                        <div class="col-2 mt-3">
                          <input
                            class="form-control"
                            id="cierreCuentasApellidoMaterno"
                            name="cierreCuentasApellidoMaterno"
                            [(ngModel)]="cierreCuentasApellidoMaterno"
                          />
                        </div>
                      </div>
                      <div class="col-1 mt-3">
                        <div class="row justify-content-search">
                          <div class="col-md-6">
                            <div
                              class="btn-group d-flex justify-content-center"
                            >
                              <button class="btn btn-primary">
                                <fa-icon icon="search"></fa-icon>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <div class="card-body height-card-table">
                  <div class="row">
                    <div class="col-md-11">
                      <div class="table-responsive">
                        <table class="table table-hover table-fixed">
                          <thead class="thead-light">
                            <tr class="hover-primary">
                              <th class="col-3" scope="col">
                                Numero de Cliente principal
                              </th>
                              <th class="col-3" scope="col">Nombre Cliente</th>
                              <th class="col-3" scope="col">
                                Apellido Paterno
                              </th>
                              <th class="col-3" scope="col">
                                Apellido Materno
                              </th>
                            </tr>
                          </thead>
                          <tbody class="max-row-7 table-scroll">
                            <tr class="cursor-pointer hover-primary"></tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="col-md-1 justify-content-buttons">
                      <div class="row justify-content-edit-button">
                        <button
                          class="btn btn-primary"
                          type="button"
                          (click)="openModalAltDuplicado()"
                        >
                          <fa-icon icon="plus"></fa-icon>
                        </button>
                      </div>
                      <div class="row justify-content-edit-button">
                        <button class="btn btn-primary">
                          <fa-icon icon="edit"></fa-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <b>Exceptuados IPAB</b>
            </ng-template>
            <ng-template ngbTabContent>
              <h5 class="mt-3 ml-3 setBolder">Exceptuados IPAB</h5>
              <div class="card mt-2">
                <div class="card-header pb-0 pt-0">
                  <div class="flex-fill align-self-center">
                    <label
                      class="
                        col-lg-3 col-form-label
                        form-control-label
                        setBolder
                        pb-0
                      "
                    >
                      Criterios de búsqueda:
                    </label>
                  </div>
                </div>
                <div class="card-body pl-0 pr-0">
                  <div class="form">
                    <div class="form-row">
                      <div class="col-11 row">
                        <div class="col-1 pr-0 pl-0">
                          <label class="ml-4 col-form-label form-control-label">
                            Número de Cliente:
                          </label>
                        </div>
                        <div class="col-2 mt-3">
                          <input
                            class="form-control"
                            id="cierreCuentasNumeroCliente"
                            name="cierreCuentasNumeroCliente"
                            [(ngModel)]="cierreCuentasNumeroCliente"
                          />
                        </div>
                        <div class="col-1 pr-0 pl-0">
                          <label class="ml-4 col-form-label form-control-label">
                            Nombre o Razón social:
                          </label>
                        </div>
                        <div class="col-2 mt-3">
                          <input
                            class="form-control"
                            id="cierreCuentasNombreCliente"
                            name="cierreCuentasNombreCliente"
                            [(ngModel)]="cierreCuentasNombreCliente"
                          />
                        </div>
                        <div class="col-1 pr-0 pl-0">
                          <label class="ml-4 col-form-label form-control-label">
                            Apellido Paterno:
                          </label>
                        </div>
                        <div class="col-2 mt-3">
                          <input
                            class="form-control"
                            id="cierreCuentasApellidoPaterno"
                            name="cierreCuentasApellidoPaterno"
                            [(ngModel)]="cierreCuentasApellidoPaterno"
                          />
                        </div>
                        <div class="col-1 pr-0 pl-0">
                          <label class="ml-4 col-form-label form-control-label">
                            Apellido Materno:
                          </label>
                        </div>
                        <div class="col-2 mt-3">
                          <input
                            class="form-control"
                            id="cierreCuentasApellidoMaterno"
                            name="cierreCuentasApellidoMaterno"
                            [(ngModel)]="cierreCuentasApellidoMaterno"
                          />
                        </div>
                      </div>
                      <div class="col-1 mt-3">
                        <div class="row justify-content-search">
                          <div class="col-md-6">
                            <div
                              class="btn-group d-flex justify-content-center"
                            >
                              <button class="btn btn-primary">
                                <fa-icon icon="search"></fa-icon>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <div class="card-body height-card-table">
                  <div class="row">
                    <div class="col-md-11">
                      <div class="table-responsive">
                        <table class="table table-hover table-fixed">
                          <thead class="thead-light">
                            <tr class="hover-primary">
                              <th class="col-2" scope="col">
                                Número de Cliente
                              </th>
                              <th class="col-2" scope="col">
                                Número de Cuenta
                              </th>
                              <th class="col-3" scope="col">Nombre Cliente</th>
                              <th class="col-2" scope="col">
                                Apellido Paterno
                              </th>
                              <th class="col-3" scope="col">
                                Apellido Materno
                              </th>
                            </tr>
                          </thead>
                          <tbody class="max-row-7 table-scroll">
                            <tr class="cursor-pointer hover-primary"></tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="col-md-1 justify-content-buttons">
                      <div class="row justify-content-edit-button">
                        <button
                          class="btn btn-primary"
                          type="button"
                          (click)="openModalAltaExceptuados()"
                        >
                          <fa-icon icon="plus"></fa-icon>
                        </button>
                      </div>
                      <div class="row justify-content-edit-button">
                        <button
                          class="btn btn-primary"
                          type="button"
                          (click)="openModalEditarExceptuados()"
                        >
                          <fa-icon icon="edit"></fa-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
        <div class="modal-footer">
          <button class="btn btn-danger" type="button">Cancelar</button>
          <button class="btn btn-success" type="button">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
</div>
