<div class="modal-header">
  <h4 class="modal-title">PATRIMONIAL</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="card">
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 form-group row">
            <div class="col-lg-12 form-group row">
              <div class="col-lg-2">
                <label>Numero de cuenta:</label>
              </div>
              <div class="col-lg-4">
                <input
                  class="form-control form-control-sm"
                  type="text"
                  [disabled]="isUpdate"
                  [(ngModel)]="patrimonialInformacion.numeroCuenta"
                />
              </div>
              <div class="col-lg-2">
                <label>Numero de inversion:</label>
              </div>
              <div class="col-lg-4">
                <input
                  class="form-control form-control-sm"
                  type="text"
                  [disabled]="isUpdate"
                  [(ngModel)]="patrimonialInformacion.numeroInversion"
                />
              </div>
            </div>
            <div class="col-lg-12 form-group row">
              <div class="col-lg-2">
                <label>Categoria:</label>
              </div>
              <div class="col-lg-4">
                <select
                  class="form-control form-control-sm"
                  [(ngModel)]="patrimonialInformacion.categoria"
                >
                  <option
                    [ngValue]="cat.clave"
                    *ngFor="let cat of catalogosInformacion['categoria']"
                  >
                    {{ cat.descripcion }}
                  </option>
                </select>
              </div>
              <div class="col-lg-2">
                <label>Numero de cliente:</label>
              </div>
              <div class="col-lg-4">
                <input
                  class="form-control form-control-sm"
                  type="text"
                  [disabled]="isUpdate"
                  [(ngModel)]="patrimonialInformacion.numeroCliente"
                />
              </div>
            </div>
            <div class="col-lg-12 form-group row">
              <div class="col-lg-2">
                <label>Sucursal:</label>
              </div>
              <div class="col-lg-4">
                <select
                  class="form-control form-control-sm"
                  [(ngModel)]="patrimonialInformacion.sucursal"
                >
                  <option
                    [ngValue]="cat.clave"
                    *ngFor="let cat of catalogosInformacion['sucursal']"
                  >
                    {{ cat.descripcion }}
                  </option>
                </select>
              </div>
              <div class="col-lg-2">
                <label>Saldo de la cuenta:</label>
              </div>
              <div class="col-lg-4">
                <input
                  class="form-control form-control-sm"
                  type="text"
                  [(ngModel)]="patrimonialInformacion.saldoCuenta"
                  [pattern]="decimalPattern"
                  #saldoCuenta="ngModel"
                  (ngModelChange)="isValid('saldoCuenta')"
                  (keydown)="onKeyPressCodigo($event)"
                  (keypress)="onKeyPressCodigo($event)"
                />
                <div *ngIf="saldoCuenta.errors?.pattern">
                  <label class="color-red">
                    Valor con formato incorrecto.</label
                  >
                </div>
              </div>
            </div>
            <div class="col-lg-12 form-group row">
              <div class="col-lg-2">
                <label>Saldo de interes de Art. 61:</label>
              </div>
              <div class="col-lg-4">
                <input
                  class="form-control form-control-sm"
                  type="text"
                  [(ngModel)]="patrimonialInformacion.saldoInteresArt61"
                  [pattern]="decimalPattern"
                  #saldoInteresArt61="ngModel"
                  (ngModelChange)="isValid('saldoArt')"
                  (keydown)="onKeyPressCodigo($event)"
                  (keypress)="onKeyPressCodigo($event)"
                />
                <div *ngIf="saldoInteresArt61.errors?.pattern">
                  <label class="color-red">
                    Valor con formato incorrecto.</label
                  >
                </div>
              </div>
              <div class="col-lg-2">
                <label>Saldo interes:</label>
              </div>
              <div class="col-lg-4">
                <input
                  class="form-control form-control-sm"
                  type="text"
                  [(ngModel)]="patrimonialInformacion.saldoInteres"
                  [pattern]="decimalPattern"
                  #saldoInteres="ngModel"
                  (ngModelChange)="isValid('saldoInteres')"
                  (keydown)="onKeyPressCodigo($event)"
                  (keypress)="onKeyPressCodigo($event)"
                />
                <div *ngIf="saldoInteres.errors?.pattern">
                  <label class="color-red">
                    Valor con formato incorrecto.</label
                  >
                </div>
              </div>
            </div>
            <div class="col-lg-12 form-group row">
              <div class="col-lg-2">
                <label>Moneda:</label>
              </div>
              <div class="col-lg-4">
                <select
                  class="form-control form-control-sm"
                  [(ngModel)]="patrimonialInformacion.monedaIPAB"
                >
                  <option
                    [ngValue]="cat.claveIPAB"
                    *ngFor="let cat of catalogosInformacion['moneda']"
                  >
                    {{ cat.descripcion }}
                  </option>
                </select>
              </div>
              <div class="col-lg-2">
                <label>Fecha de contratacion:</label>
              </div>
              <div class="pl-0 col-lg-4">
                <div class="input-group col-xl-12 pr-0">
                  <input
                    class="form-control bg-white"
                    id="fechaContratacion"
                    type="text"
                    ngbDatepicker
                    #a="ngbDatepicker"
                    placeholder="dd/mm/aaaa"
                    name="fechaContratacion"
                    (click)="a.toggle()"
                    [(ngModel)]="patrimonialInformacion.fechaContratacion"
                    style="font-size: 0.85rem"
                  />
                  <div class="input-group-append" style="height: 2.18rem">
                    <button
                      class="btn btn-outline-secondary calendar"
                      (click)="a.toggle()"
                      type="button"
                      style="padding-top: 4px"
                    >
                      <fa-icon icon="calendar-alt"></fa-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12 form-group row">
              <div class="col-lg-2">
                <label>Plazo de la operacion:</label>
              </div>
              <div class="col-lg-4">
                <input
                  class="form-control form-control-sm"
                  type="text"
                  [(ngModel)]="patrimonialInformacion.plazoOperacion"
                  [pattern]="enteroPattern"
                  #plazoOperacion="ngModel"
                  (ngModelChange)="isValid()"
                />
                <div *ngIf="plazoOperacion.errors?.pattern">
                  <label class="color-red">
                    Valor con formato incorrecto.</label
                  >
                </div>
              </div>
              <div class="col-lg-2">
                <label>Tipo tasa:</label>
              </div>
              <div class="col-lg-4">
                <select
                  class="form-control form-control-sm"
                  [(ngModel)]="patrimonialInformacion.tipoTasa"
                >
                  <option
                    [ngValue]="cat.clave"
                    *ngFor="let cat of catalogosInformacion['tipoTasa']"
                  >
                    {{ cat.descripcion }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-lg-12 form-group row">
              <div class="col-lg-2">
                <label>Tasa:</label>
              </div>
              <div class="col-lg-4">
                <input
                  class="form-control form-control-sm"
                  type="text"
                  [(ngModel)]="patrimonialInformacion.tasa"
                  [pattern]="decimalPattern"
                  #tasa="ngModel"
                  (ngModelChange)="isValid('tasa')"
                  (keydown)="onKeyPressCodigo($event)"
                  (keypress)="onKeyPressCodigo($event)"
                />
                <div *ngIf="tasa.errors?.pattern">
                  <label class="color-red">
                    Valor con formato incorrecto.</label
                  >
                </div>
              </div>
              <div class="col-lg-2">
                <label>Ultimo provision de intereses:</label>
              </div>
              <div class="pl-0 col-lg-4">
                <div class="input-group col-xl-12 pr-0">
                  <input
                    class="form-control bg-white"
                    id="fechaUltProvInt"
                    type="text"
                    ngbDatepicker
                    #b="ngbDatepicker"
                    placeholder="dd/mm/aaaa"
                    name="fechaUltProvInt"
                    (click)="b.toggle()"
                    [(ngModel)]="
                      patrimonialInformacion.ultimaProvisionIntereses
                    "
                    style="font-size: 0.85rem"
                  />
                  <div class="input-group-append" style="height: 2.18rem">
                    <button
                      class="btn btn-outline-secondary calendar"
                      (click)="b.toggle()"
                      type="button"
                      style="padding-top: 4px"
                    >
                      <fa-icon icon="calendar-alt"></fa-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12 form-group row">
              <div class="col-lg-2">
                <label>Entidad federativa:</label>
              </div>
              <div class="col-lg-4">
                <select
                  class="form-control form-control-sm"
                  [(ngModel)]="patrimonialInformacion.entidadFederativa"
                  [disabled]="isUpdate"
                >
                  <option
                    [ngValue]="cat.claveIPAB"
                    *ngFor="let cat of catalogosInformacion['entidadFed']"
                  >
                    {{ cat.descripcion }}
                  </option>
                </select>
              </div>
              <div class="col-lg-2">
                <label>Plaza:</label>
              </div>
              <div class="col-lg-4">
                <input
                  class="form-control form-control-sm"
                  type="text"
                  [(ngModel)]="patrimonialInformacion.plaza"
                  [disabled]="isUpdate"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button
    *ngIf="isUpdate"
    class="btn btn-success"
    type="button"
    (click)="actualizarPatrimonial()"
    [disabled]="!valid"
  >
    Aceptar
  </button>
  <button
    *ngIf="!isUpdate"
    class="btn btn-success"
    type="button"
    (click)="nuevoPatrimonial()"
    [disabled]="!valid"
  >
    Aceptar
  </button>
  <button
    class="btn btn-danger"
    type="button"
    (click)="activeModal.close('Close click')"
  >
    Cancelar
  </button>
</div>
