.form-max-height {
  min-height: 34rem;
  max-height: 34rem;
  overflow-y: auto;
  overflow-x: clip;
}

.align-text-right {
  text-align: right;
}

.mt-2-3-int {
  margin-top: .75rem;
}

.mt-175 {
  margin-top: 1.75rem;
}

.color-red {
  color: firebrick;
}
