.color-white {
  color: #ffffff
}
.head-height {
  height: 39px;
}
.head-divisa-font {
  font-size: 24px;
  justify-content: flex-end;
}
.margin-button-head {
  margin-bottom: 2rem;
}
hr {
  width: 5000px;
  margin: 2px -1000px 2px;
  height: 10px;
  background-color: #6e1e19;
}
.line-text-bottom {
  text-align: end;
}
.line-text-start {
  text-align: start;
}
.text-compra-venta {
  font-size: 26px;
}
.img-head-padding-right {
  padding-right: 5px !important;
  text-align: end;
}
