<nav class="navbar-expand-lg mb-5">
  <div class="demo-header container-fluid">
    <button (click)="_toggleOpened()" class="menu-button">
      <div class="menu-div"></div>
      <div class="menu-div"></div>
      <div class="menu-div"></div>
    </button>
    <div class="container-fluid menu-logo">
      <div class="row">
        <div class="col-2 my-auto" style="place-self: start">
          <a class="navbar-brand" style="margin-right: 0px" href="#">
            <img
              src="assets/img/logoMult.png"
              width="140"
              height="45"
              alt="logo-multiva"
              style="border-radius: 3%"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- <nav class="navbar-expand-lg">
  <div
    class="demo-header container-fluid"
    style="text-align: center; background-color: #ffffff"
  >
    <div class="col-lg-12">
      <div class="row">
        <div class="row col-12 mx-auto" style="place-content: center">
          <div class="col-12">
            <label style="font-size: xx-large; color: #d19f49"
              >Hola de verdad</label
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="row col-12 mx-auto">
          <div class="col-4 my-auto">
            <a class="nav-link" style="text-align: -moz-center"> Holaaaaa </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav> -->
