<div class="modal-container">
  <div class="modal-header">
    <h4 class="modal-title">Editar</h4>
    <button
      class="close"
      type="button"
      aria-label="Close"
      (click)="activeModal.close()"
    >
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid mt-2">
      <div class="card">
        <div class="card-body pl-0 pr-0">
            <div class="form form-max-height">
              <div class="col-12">
                <div class="form-group row">
                  <label class="mt-1 col-3 align-text-right">Clave única:</label>
                  <div class="col-sm-3 col-md-3">
                    <input
                      name="claveUnica"
                      id="claveUnica"
                      class="form-control form-control-sm"
                      type="text"
                      disabled
                      [(ngModel)]="localTabla2B.claveUnica"
                    />
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group row">
                  <label class="mt-1 col-3 align-text-right">Nombre del acreditado:</label>
                  <div class="col-sm-3 col-md-8">
                    <input
                      name="nombreAcreditado"
                      id="nombreAcreditado"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.nombreAcreditado"
                    />
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group row">
                  <label class="mt-1 col-3 align-text-right">Periodo:</label>
                  <div class="col-sm-3 col-md-3">
                    <div class="input-group">
                      <input
                        name="periodoReporta"
                        id="periodoReporta"
                        class="form-control form-control-sm"
                        type="number"
                        maxlength="6"
                        [(ngModel)]="localTabla2B.periodoReporta"
                      />
                    </div>
                  </div>
                  <label class="mt-1 col-3 align-text-right">Identificador del crédito:</label>
                  <div class="col-sm-3 col-md-3">
                    <input
                      name="identificadorCredito"
                      id="identificadorCredito"
                      class="form-control form-control-sm"
                      type="text"
                      disabled
                      [(ngModel)]="localTabla2B.identificadorCredito"
                    />
                  </div>
                </div>
              </div>

              <div class="col-12">
                <div class="form-group row">
                  <label class="mt-1 col-3 align-text-right">Grupo de riesgo:</label>
                  <div class="col-sm-3 col-md-3">
                    <input
                      name="grupoRiesgo"
                      id="grupoRiesgo"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.grupoRiesgo"
                    />
                  </div>
                  <label class="mt-1 col-3 align-text-right">Actividad económica:</label>
                  <div class="col-sm-3 col-md-3">
                    <select
                      class="form-control form-control-sm"
                      id="actividadEconomica"
                      name="actividadEconomica"
                      [(ngModel)]="selectedActividadEconomica"
                    >
                      <ng-container *ngFor="let catalogo of catalogoActividadEconomica">
                        <option [value]="catalogo.clave">{{ catalogo.descripcion }}</option>
                      </ng-container>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group row">
                  <label class="mt-1 col-3 align-text-right">Número de empleados:</label>
                  <div class="col-sm-3 col-md-3">
                    <input
                      name="numeroEmpleados"
                      id="numeroEmpleados"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.numeroEmpleados"
                    />
                  </div>
                  <label class="mt-1 col-3 align-text-right">Ingresos brutos anuales:</label>
                  <div class="col-sm-3 col-md-3">
                    <input
                      name="ingresosBrutosAnuales"
                      id="ingresosBrutosAnuales"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.ingresosBrutosAnuales"
                    />
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group row">
                  <label class="mt-1 col-3 align-text-right">Tipo alta crédito:</label>
                  <div class="col-sm-3 col-md-3">
                    <select
                      class="form-control form-control-sm"
                      id="tipoAltaCredito"
                      name="tipoAltaCredito"
                      [(ngModel)]="selectedTipoAltaCredito"
                    >
                      <ng-container *ngFor="let catalogo of catalogoTipoAltaCredito2">
                        <option [value]="catalogo.clave">{{ catalogo.descripcion }}</option>
                      </ng-container>
                    </select>
                  </div>
                  <label class="mt-1 col-3 align-text-right"
                  >Monto de la línea de crédito autorizada:</label
                  >
                  <div class="col-sm-3 col-md-3 mt-2-3-int">
                    <input
                      name="montoLineaCreditoAutorizada"
                      id="montoLineaCreditoAutorizada"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.montoLineaCreditoAutorizada"
                    />
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group row">
                  <label class="mt-1 col-3 align-text-right">Moneda línea de crédito:</label>
                  <div class="col-sm-3 col-md-3">
                    <select
                      class="form-control form-control-sm"
                      id="monedaLineaCredito"
                      name="monedaLineaCredito"
                      [(ngModel)]="selectedMonedaLinea"
                    >
                      <ng-container *ngFor="let catalogo of catalogoMonedaLinea">
                        <option [value]="catalogo.clave">{{ catalogo.descripcion }}</option>
                      </ng-container>
                    </select>
                  </div>
                  <label class="mt-1 col-3 align-text-right"
                  >Fecha vencimiento línea crédito:</label
                  >
                  <div class="col-sm-3 col-md-3">
                    <div class="input-group">
                      <input
                        name="fechaVencimientoLineaCredito"
                        class="form-control bg-white"
                        id="fechaVencimientoLineaCredito"
                        type="text"
                        ngbDatepicker
                        #c="ngbDatepicker"
                        [(ngModel)]="fechaVencimientoLineaCredito"
                        (click)="c.toggle()"
                      />
                      <div class="input-group-append">
                        <button
                          class="btn btn-outline-secondary calendar"
                          (click)="c.toggle()"
                          type="button"
                        >
                          <fa-icon icon="calendar-alt"></fa-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group row">
                  <label class="mt-1 col-3 align-text-right mt-2-3-int"
                  >Porcentaje garantizado del crédito:</label
                  >
                  <div class="col-sm-3 col-md-3">
                    <input
                      name="porcentajeGarantizadoCredito"
                      id="porcentajeGarantizadoCredito"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.porcentajeGarantizadoCredito"
                    />
                  </div>
                  <label class="mt-1 col-3 align-text-right">Tipo de garantía:</label>
                  <div class="col-sm-3 col-md-3">
                    <select
                      class="form-control form-control-sm"
                      id="tipoGarantia"
                      name="tipoGarantia"
                      [(ngModel)]="selectedTipoGarantia"
                    >
                      <ng-container *ngFor="let catalogo of catalogoTipoGarantia">
                        <option [value]="catalogo.clave">{{ catalogo.descripcion }}</option>
                      </ng-container>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group row">
                  <label class="mt-1 col-3 align-text-right">Número de disposición:</label>
                  <div class="col-sm-3 col-md-3">
                    <input
                      name="numeroDisposicion"
                      id="numeroDisposicion"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.numeroDisposicion"
                    />
                  </div>
                  <label class="mt-1 col-3 align-text-right">Grado de riesgo:</label>
                  <div class="col-sm-3 col-md-3">
                    <select
                      class="form-control form-control-sm"
                      id="gradoRiesgo"
                      name="gradoRiesgo"
                      [(ngModel)]="selectedGradoRiesgo"
                    >
                      <ng-container *ngFor="let catalogo of catalogoGradoRiesgo">
                        <option [value]="catalogo.clave">{{ catalogo.descripcion }}</option>
                      </ng-container>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group row">
                  <label class="mt-1 col-3 align-text-right">Situación del crédito:</label>
                  <div class="col-sm-3 col-md-3">
                    <select
                      class="form-control form-control-sm"
                      id="situacionCredito"
                      name="situacionCredito"
                      [(ngModel)]="selectedSituacionCredito"
                    >
                      <ng-container *ngFor="let catalogo of catalogoSituacionCredito">
                        <option [value]="catalogo.clave">{{ catalogo.descripcion }}</option>
                      </ng-container>
                    </select>
                  </div>
                  <label class="mt-1 col-3 align-text-right"
                  >Tasa de interés bruta del periodo:</label
                  >
                  <div class="col-sm-3 col-md-3 mt-2-3-int">
                    <input
                      name="tasaInteresBrutaPeriodo"
                      id="tasaInteresBrutaPeriodo"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.tasaInteresBrutaPeriodo"
                    />
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group row">
                  <label class="mt-1 col-3 align-text-right">Número de días con atraso:</label>
                  <div class="col-sm-3 col-md-3">
                    <input
                      name="numeroDiasAtraso"
                      id="numeroDiasAtraso"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.numeroDiasAtraso"
                    />
                  </div>
                  <label class="mt-1 col-3 align-text-right">Saldo insoluto:</label>
                  <div class="col-sm-3 col-md-3">
                    <input
                      name="saldoInsoluto"
                      id="saldoInsoluto"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.saldoInsoluto"
                    />
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group row">
                  <label class="mt-1 col-3 align-text-right">Resevas:</label>
                  <div class="col-sm-3 col-md-3">
                    <input
                      name="reservas"
                      id="reservas"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.reservas"
                    />
                  </div>
                  <label class="mt-1 col-3 align-text-right">Tipo de cartera:</label>
                  <div class="col-sm-3 col-md-3">
                    <select
                      class="form-control form-control-sm"
                      id="tipoCartera"
                      name="tipoCartera"
                      [(ngModel)]="selectedTipoCartera"
                    >
                      <ng-container *ngFor="let catalogo of catalogoTipoCartera">
                        <option [value]="catalogo.clave">{{ catalogo.descripcion }}</option>
                      </ng-container>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group row">
                  <label class="mt-1 col-3 align-text-right">Destino del crédito:</label>
                  <div class="col-sm-3 col-md-3">
                    <select
                      class="form-control form-control-sm"
                      id="destinoCredito"
                      name="destinoCredito"
                      [(ngModel)]="selectedDestinoCredito2"
                    >
                      <ng-container *ngFor="let catalogo of catalogoDestinoCredito2">
                        <option [value]="catalogo.clave">{{ catalogo.descripcion }}</option>
                      </ng-container>
                    </select>
                  </div>
                  <label class="mt-1 col-3 align-text-right">Tipo de operación:</label>
                  <div class="col-sm-3 col-md-3">
                    <select
                      class="form-control form-control-sm"
                      id="tipoOperacion"
                      name="tipoOperacion"
                      [(ngModel)]="selectedTipoOperacion"
                    >
                      <ng-container *ngFor="let catalogo of catalogoTipoOperacion">
                        <option [value]="catalogo.clave">{{ catalogo.descripcion }}</option>
                      </ng-container>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group row">
                  <label class="mt-1 col-3 align-text-right"
                  >Porcentaje de participaciones federales comprometidas como
                    fuente de pago del crédito:</label
                  >
                  <div class="col-sm-3 col-md-3 mt-4">
                    <input
                      name="porcentajeParticipacionesFederalesComprometidasFuentePagoCredito"
                      id="porcentajeParticipacionesFederalesComprometidasFuentePagoCredito"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.porcentajeParticipacionesFederalesComprometidasFuentePagoCredito"
                    />
                  </div>
                  <label class="mt-1 col-3 align-text-right"
                  >Monto fondeado por banco de desarrollo o fondo de
                    fomento:</label
                  >
                  <div class="col-sm-3 col-md-3 mt-2-3-int">
                    <input
                      name="montoFondeadoBancoFondoFomento"
                      id="montoFondeadoBancoFondoFomento"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.montoFondeadoBancoFondoFomento"
                    />
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group row">
                  <label class="mt-1 col-3 align-text-right"
                  >Institución bancaria de desarrollo o fondo de fomento:</label
                  >
                  <div class="col-sm-3 col-md-3 mt-2-3-int">
                    <select
                      class="form-control form-control-sm"
                      id="institucionBancariaDesarrolloFondoFomento"
                      name="institucionBancariaDesarrolloFondoFomento"
                      [(ngModel)]="selectedInstitucionFondeadora"
                    >
                      <ng-container *ngFor="let catalogo of catalogoInstitucionFondeadora">
                        <option [value]="catalogo.clave">{{ catalogo.descripcion }}</option>
                      </ng-container>
                    </select>
                  </div>
                  <label class="mt-1 col-3 align-text-right"
                  >Porcentaje bruto no cubierto del crédito:</label
                  >
                  <div class="col-sm-3 col-md-3 mt-2-3-int">
                    <input
                      name="porcentajeBrutoNoCubiertoCredito"
                      id="porcentajeBrutoNoCubiertoCredito"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.porcentajeBrutoNoCubiertoCredito"
                    />
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group row">
                  <label class="mt-1 col-3 align-text-right"
                  >Severidad de la pérdida para segmento no cubierto:</label
                  >
                  <div class="col-sm-3 col-md-3 mt-2-3-int">
                    <input
                      name="severidadPerdidaSegmentoNoCubierto"
                      id="severidadPerdidaSegmentoNoCubierto"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.severidadPerdidaSegmentoNoCubierto"
                    />
                  </div>
                  <label class="mt-1 col-3 align-text-right">
                    Monto bruto de exposición al incumplimiento sin
                    garantía:</label
                  >
                  <div class="col-sm-3 col-md-3 mt-2-3-int">
                    <input
                      name="montoBrutoExposicionIncumplimientoSinGarantia"
                      id="montoBrutoExposicionIncumplimientoSinGarantia"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.montoBrutoExposicionIncumplimientoSinGarantia"
                    />
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group row">
                  <label class="mt-1 col-3 align-text-right"
                  >Porcentaje bruto de cobertura de la garantía real
                    financiera:</label
                  >
                  <div class="col-sm-3 col-md-3 mt-2-3-int">
                    <input
                      name="porcentajeBrutoCoberturaGarantiaReal"
                      id="porcentajeBrutoCoberturaGarantiaReal"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.porcentajeBrutoCoberturaGarantiaReal"
                    />
                  </div>
                  <label class="mt-1 col-3 align-text-right">
                    Valor contable de la garantía real financiera:</label
                  >
                  <div class="col-sm-3 col-md-3 mt-2-3-int">
                    <input
                      name="valorContableGarantiaRealFinanciera"
                      id="valorContableGarantiaRealFinanciera"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.valorContableGarantiaRealFinanciera"
                    />
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group row">
                  <label class="mt-1 col-3 align-text-right"
                  >Severidad de la pérdida ajustada por garantías reales
                    financieras:</label
                  >
                  <div class="col-sm-3 col-md-3 mt-2-3-int">
                    <input
                      name="severidadPerdidaAjustadaGarantiasRealesFinancieras"
                      id="severidadPerdidaAjustadaGarantiasRealesFinancieras"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.severidadPerdidaAjustadaGarantiasRealesFinancieras"
                    />
                  </div>
                  <label class="mt-1 col-3 align-text-right">
                    Exposición al incumplimiento ajustada por garantías reales
                    financieras:</label
                  >
                  <div class="col-sm-3 col-md-3 mt-4">
                    <input
                      name="exposicionIncumplimientoAjustadaGarantiasRealesFinancieras"
                      id="exposicionIncumplimientoAjustadaGarantiasRealesFinancieras"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.exposicionIncumplimientoAjustadaGarantiasRealesFinancieras"
                    />
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group row">
                  <label class="mt-1 col-3 align-text-right"
                  >Porcentaje bruto de cobertura de la garantía real no
                    financiera:</label
                  >
                  <div class="col-sm-3 col-md-3 mt-2-3-int">
                    <input
                      name="porcentajeBrutoGarantiaRealNoFinanciada"
                      id="porcentajeBrutoGarantiaRealNoFinanciada"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.porcentajeBrutoGarantiaRealNoFinanciada"
                    />
                  </div>
                  <label class="mt-1 col-3 align-text-right">
                    Valor garantía con derechos de cobro:</label
                  >
                  <div class="col-sm-3 col-md-3 mt-2-3-int">
                    <input
                      name="valorGarantiaDerechosCobro"
                      id="valorGarantiaDerechosCobro"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.valorGarantiaDerechosCobro"
                    />
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group row">
                  <label class="mt-1 col-3 align-text-right"
                  >Valor garantía con bienes inmuebles:</label
                  >
                  <div class="col-sm-3 col-md-3 mt-2-3-int">
                    <input
                      name="valorGarantiaBienesInmuebles"
                      id="valorGarantiaBienesInmuebles"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.valorGarantiaBienesInmuebles"
                    />
                  </div>
                  <label class="mt-1 col-3 align-text-right">
                    Valor garantía con bienes muebles:</label
                  >
                  <div class="col-sm-3 col-md-3 mt-2-3-int">
                    <input
                      name="valorGarantiaBienesMuebles"
                      id="valorGarantiaBienesMuebles"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.valorGarantiaBienesMuebles"
                    />
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group row">
                  <label class="mt-1 col-5 align-text-right"
                  >Valor garantía con fideicomiso de garantía y de
                    administración con participaciones federales y aportaciones
                    federales como fuente de pago:</label
                  >
                  <div class="col-sm-7 col-md-7 mt-4">
                    <input
                      name="valorGarantiaFideicomisosGarantiaAdministracionesParticipacionesFederalesAportacionesFederalesComoFP"
                      id="valorGarantiaFideicomisosGarantiaAdministracionesParticipacionesFederalesAportacionesFederalesComoFP"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.valorGarantiaFideicomisosGarantiaAdministracionesParticipacionesFederalesAportacionesFederalesComoFP"
                    />
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group row">
                  <label class="mt-1 col-5 align-text-right"
                  >Valor garantía con fideicomiso de garantía y de
                    administración con ingresos propios como fuente de
                    pago:</label
                  >
                  <div class="col-sm-7 col-md-7 mt-2-3-int">
                    <input
                      name="valorGarantiaFideicomisosGarantiaAdministracionIngresosPropiosComoFuente"
                      id="valorGarantiaFideicomisosGarantiaAdministracionIngresosPropiosComoFuente"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.valorGarantiaFideicomisosGarantiaAdministracionIngresosPropiosComoFuente"
                    />
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group row">
                  <label class="mt-1 col-3 align-text-right"
                  >Valor garantía con otras garantías reales no
                    financieras:</label
                  >
                  <div class="col-sm-3 col-md-3 mt-2-3-int">
                    <input
                      name="valorGarantiaOtrasGarantiasRealesNoFinancieras"
                      id="valorGarantiaOtrasGarantiasRealesNoFinancieras"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.valorGarantiaOtrasGarantiasRealesNoFinancieras"
                    />
                  </div>
                  <label class="mt-1 col-3 align-text-right">
                    Severidad de la pérdida ajustada por los derechos de
                    cobro:</label
                  >
                  <div class="col-sm-3 col-md-3 mt-2-3-int">
                    <input
                      name="severidadPerdidaAjustadaDerechosCobro"
                      id="severidadPerdidaAjustadaDerechosCobro"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.severidadPerdidaAjustadaDerechosCobro"
                    />
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group row">
                  <label class="mt-1 col-3 align-text-right"
                  >Severidad de la pérdida ajustada por bienes inmuebles:</label
                  >
                  <div class="col-sm-3 col-md-3 mt-2-3-int">
                    <input
                      name="severidadPerdidaAjustadaBienesInmuebles"
                      id="severidadPerdidaAjustadaBienesInmuebles"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.severidadPerdidaAjustadaBienesInmuebles"
                    />
                  </div>
                  <label class="mt-1 col-3 align-text-right">
                    Severidad de la pérdida ajustada por bienes muebles:</label
                  >
                  <div class="col-sm-3 col-md-3 mt-2-3-int">
                    <input
                      name="severidadPerdidaAjustadaBienesMuebles"
                      id="severidadPerdidaAjustadaBienesMuebles"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.severidadPerdidaAjustadaBienesMuebles"
                    />
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group row">
                  <label class="mt-1 col-5 align-text-right"
                  >Severidad de la pérdida ajustada por fideicomiso de garantía
                    y de administración con participaciones federales y
                    aportaciones federales como fuente de pago:</label
                  >
                  <div class="col-sm-7 col-md-7 mt-4">
                    <input
                      name="severidadPerdidaAjustadaFideicomisosGarantiaAdministracionParticipacionesFederalesAportacionesFederalesComoFP"
                      id="severidadPerdidaAjustadaFideicomisosGarantiaAdministracionParticipacionesFederalesAportacionesFederalesComoFP"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.severidadPerdidaAjustadaFideicomisosGarantiaAdministracionParticipacionesFederalesAportacionesFederalesComoFP"
                    />
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group row">
                  <label class="mt-1 col-5 align-text-right"
                  >Severidad de la pérdida ajustada por fideicomiso de garantía
                    y de administración con ingresos propios como fuente de
                    pago:</label
                  >
                  <div class="col-sm-7 col-md-7 mt-4">
                    <input
                      name="severidadPerdidaAjustadaFideicomisosGarantiaAdministracionIngresosPropiosComoFP"
                      id="severidadPerdidaAjustadaFideicomisosGarantiaAdministracionIngresosPropiosComoFP"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.severidadPerdidaAjustadaFideicomisosGarantiaAdministracionIngresosPropiosComoFP"
                    />
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group row">
                  <label class="mt-1 col-5 align-text-right"
                  >Severidad de la pérdida ajustada con otras garantías reales
                    no financieras:</label
                  >
                  <div class="col-sm-7 col-md-7 mt-2-3-int">
                    <input
                      name="severidadPerdidaAjustadaOtrasGarantiasRealesNoFinancieras"
                      id="severidadPerdidaAjustadaOtrasGarantiasRealesNoFinancieras"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.severidadPerdidaAjustadaOtrasGarantiasRealesNoFinancieras"
                    />
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group row">
                  <label class="mt-1 col-3 align-text-right"
                  >Total de severidad de la pérdida por garantías reales no
                    financieras:</label
                  >
                  <div class="col-sm-3 col-md-3 mt-4">
                    <input
                      name="totalSeveridadPerdidaGarantiasRealesNoFinancieras"
                      id="totalSeveridadPerdidaGarantiasRealesNoFinancieras"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.totalSeveridadPerdidaGarantiasRealesNoFinancieras"
                    />
                  </div>
                  <label class="mt-1 col-3 align-text-right">
                    Porcentaje bruto cubierto con garantías personales:</label
                  >
                  <div class="col-sm-3 col-md-3 mt-2-3-int">
                    <input
                      name="porcentajeBrutoCubiertoGarantiasPersonales"
                      id="porcentajeBrutoCubiertoGarantiasPersonales"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.porcentajeBrutoCubiertoGarantiasPersonales"
                    />
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group row">
                  <label class="mt-1 col-3 align-text-right"
                  >Porcentaje cubierto por obligado solidario o aval distinto a
                    entidad federativa y municipio:</label
                  >
                  <div class="col-sm-3 col-md-3 mt-4">
                    <input
                      name="porcentajeCubiertoObligadoSolidarioAvalDistintoEntidadFederativaMunicipio"
                      id="porcentajeCubiertoObligadoSolidarioAvalDistintoEntidadFederativaMunicipio"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.porcentajeCubiertoObligadoSolidarioAvalDistintoEntidadFederativaMunicipio"
                    />
                  </div>
                  <label class="mt-1 col-3 align-text-right">
                    Monto cubierto por garantía personal:</label
                  >
                  <div class="col-sm-3 col-md-3 mt-2-3-int">
                    <input
                      name="montoCubiertoGarantiaPersonal"
                      id="montoCubiertoGarantiaPersonal"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.montoCubiertoGarantiaPersonal"
                    />
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group row">
                  <label class="mt-1 col-3 align-text-right"
                  >Valuación a mercado del derivado de crédito:</label
                  >
                  <div class="col-sm-3 col-md-3 mt-2-3-int">
                    <input
                      name="valuacionMercadoDerivadoCredito"
                      id="valuacionMercadoDerivadoCredito"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.valuacionMercadoDerivadoCredito"
                    />
                  </div>
                  <label class="mt-1 col-3 align-text-right">
                    Porcentaje cubierto por esquemas de paso y medida:</label
                  >
                  <div class="col-sm-3 col-md-3 mt-2-3-int">
                    <input
                      name="porcentajeCubiertoEsquemasPasoMedida"
                      id="porcentajeCubiertoEsquemasPasoMedida"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.porcentajeCubiertoEsquemasPasoMedida"
                    />
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group row">
                  <label class="mt-1 col-3 align-text-right"
                  >Porcentaje cubierto por esquemas de primeras pérdidas:</label
                  >
                  <div class="col-sm-3 col-md-3 mt-2-3-int">
                    <input
                      name="porcentajeCubiertoEsquemasPrimerasPerdidas"
                      id="porcentajeCubiertoEsquemasPrimerasPerdidas"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.porcentajeCubiertoEsquemasPrimerasPerdidas"
                    />
                  </div>
                  <label class="mt-1 col-3 align-text-right">
                    Monto cubierto por esquemas de paso y medida:</label
                  >
                  <div class="col-sm-3 col-md-3 mt-2-3-int">
                    <input
                      name="montoCubiertoEsquemasPasoMedida"
                      id="montoCubiertoEsquemasPasoMedida"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.montoCubiertoEsquemasPasoMedida"
                    />
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group row">
                  <label class="mt-1 col-3 align-text-right"
                  >Monto cubierto por esquema de primeras pérdidas:</label
                  >
                  <div class="col-sm-3 col-md-3 mt-2-3-int">
                    <input
                      name="montoCubiertoEsquemasPrimerasPerdidas"
                      id="montoCubiertoEsquemasPrimerasPerdidas"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.montoCubiertoEsquemasPrimerasPerdidas"
                    />
                  </div>
                  <label class="mt-1 col-3 align-text-right">
                    Severidad de la pérdida total:</label
                  >
                  <div class="col-sm-3 col-md-3 mt-2-3-int">
                    <input
                      name="severidadPerdidaTotal"
                      id="severidadPerdidaTotal"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.severidadPerdidaTotal"
                    />
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group row">
                  <label class="mt-1 col-3 align-text-right"
                  >Severidad de la pérdida garante:</label
                  >
                  <div class="col-sm-3 col-md-3 mt-2-3-int">
                    <input
                      name="severidadPerdidaGarante"
                      id="severidadPerdidaGarante"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.severidadPerdidaGarante"
                    />
                  </div>
                  <label class="mt-1 col-3 align-text-right">
                    Severidad de la pérdida acreditado:</label
                  >
                  <div class="col-sm-3 col-md-3 mt-2-3-int">
                    <input
                      name="severidadPerdidaAcreditado"
                      id="severidadPerdidaAcreditado"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.severidadPerdidaAcreditado"
                    />
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group row">
                  <label class="mt-1 col-3 align-text-right"
                  >Exposición al incumplimiento total:</label
                  >
                  <div class="col-sm-3 col-md-3 mt-2-3-int">
                    <input
                      name="exposicionIncumplimientoTotal"
                      id="exposicionIncumplimientoTotal"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.exposicionIncumplimientoTotal"
                    />
                  </div>
                  <label class="mt-1 col-3 align-text-right">
                    Exposición al incumplimiento garante:</label
                  >
                  <div class="col-sm-3 col-md-3 mt-2-3-int">
                    <input
                      name="exposicionIncumplimientoGarante"
                      id="exposicionIncumplimientoGarante"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.exposicionIncumplimientoGarante"
                    />
                  </div>
                </div>
              </div>

              <div class="col-12">
                <div class="form-group row">
                  <label class="mt-1 col-3 align-text-right"
                  >Exposición al incumplimiento acreditado:</label
                  >
                  <div class="col-sm-3 col-md-3 mt-2-3-int">
                    <input
                      name="exposicionIncumplimientoAcreditado"
                      id="exposicionIncumplimientoAcreditado"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.exposicionIncumplimientoAcreditado"
                    />
                  </div>
                  <label class="mt-1 col-3 align-text-right">
                    Probabilidad de incumplimiento total:</label
                  >
                  <div class="col-sm-3 col-md-3 mt-2-3-int">
                    <input
                      name="probabilidadIncumplimientoTotal"
                      id="probabilidadIncumplimientoTotal"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.probabilidadIncumplimientoTotal"
                    />
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group row">
                  <label class="mt-1 col-3 align-text-right">
                    Probabilidad de incumplimiento garante:</label
                  >
                  <div class="col-sm-3 col-md-3 mt-2-3-int">
                    <input
                      name="probabilidadIncumplimientoGarante"
                      id="probabilidadIncumplimientoGarante"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.probabilidadIncumplimientoGarante"
                    />
                  </div>
                  <label class="mt-1 col-3 align-text-right">
                    Probabilidad de incumplimiento acreditado:</label
                  >
                  <div class="col-sm-3 col-md-3 mt-2-3-int">
                    <input
                      name="probabilidadIncumplimientoAcreditado"
                      id="probabilidadIncumplimientoAcreditado"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.probabilidadIncumplimientoAcreditado"
                    />
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group row">
                  <label class="mt-1 col-3 align-text-right">Tipo de cobranza:</label>
                  <div class="col-sm-3 col-md-3">
                    <select
                      class="form-control form-control-sm"
                      id="tipoCobranza"
                      name="tipoCobranza"
                      [(ngModel)]="selectedTipoCobranza"
                    >
                      <ng-container *ngFor="let catalogo of catalogoTipoCobranza">
                        <option [value]="catalogo.clave">{{ catalogo.descripcion }}</option>
                      </ng-container>
                    </select>
                  </div>
                  <label class="mt-1 col-3 align-text-right">Capital vencido operativo:</label>
                  <div class="col-sm-3 col-md-3">
                    <input
                      name="capitalVencidoOperativo"
                      id="capitalVencidoOperativo"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.capitalVencidoOperativo"
                    />
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group row">
                  <label class="mt-1 col-3 align-text-right">
                    Intereses ordinarios exigibles:</label
                  >
                  <div class="col-sm-3 col-md-3 mt-2-3-int">
                    <input
                      name="interesesOrdinariosExigibles"
                      id="interesesOrdinariosExigibles"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.interesesOrdinariosExigibles"
                    />
                  </div>
                  <label class="mt-1 col-3 align-text-right"> Interes moratorio:</label>
                  <div class="col-sm-3 col-md-3">
                    <input
                      name="interesesMoratorios"
                      id="interesesMoratorios"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.interesesMoratorios"
                    />
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group row">
                  <label class="mt-1 col-3 align-text-right"> Otros accesorios:</label>
                  <div class="col-sm-3 col-md-3">
                    <input
                      name="otrosAccesorios"
                      id="otrosAccesorios"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.otrosAccesorios"
                    />
                  </div>
                  <label class="mt-1 col-3 align-text-right"> Capital vigente operativo:</label>
                  <div class="col-sm-3 col-md-3">
                    <input
                      name="capitalVigenteOperativo"
                      id="capitalVigenteOperativo"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.capitalVigenteOperativo"
                    />
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group row">
                  <label class="mt-1 col-3 align-text-right">Estado:</label>
                  <div class="col-sm-3 col-md-3">
                    <select
                      class="form-control form-control-sm"
                      id="estado"
                      name="estado"
                      [(ngModel)]="selectedEstado"
                    >
                      <ng-container *ngFor="let catalogo of catalogoEstado">
                        <option [value]="catalogo.clave">{{ catalogo.descripcion }}</option>
                      </ng-container>
                    </select>
                  </div>
                  <label class="mt-1 col-3 align-text-right">Plazo total de crédito:</label>
                  <div class="col-sm-3 col-md-3">
                    <input
                      name="plazaTotalCredito"
                      id="plazaTotalCredito"
                      class="form-control form-control-sm"
                      [(ngModel)]="localTabla2B.plazoTotalCredito"
                    />
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group row">
                  <label class="mt-1 col-3 align-text-right">Plazo en meses al vencimiento:</label>
                  <div class="col-sm-3 col-md-3">
                    <input
                      name="plazoMesesVencimiento"
                      id="plazoMesesVencimiento"
                      class="form-control form-control-sm"
                      type="text"
                      [(ngModel)]="localTabla2B.plazoMesesVencimiento"
                    />
                  </div>
                  <label class="mt-1 col-3 align-text-right">Tipo de recursos:</label>
                  <div class="col-sm-3 col-md-3">
                    <select
                      class="form-control form-control-sm"
                      id="tipoRecursos"
                      name="tipoRecursos"
                      [(ngModel)]="selectedTipoRecursos"
                    >
                      <ng-container *ngFor="let catalogo of catalogoTipoRecursos">
                        <option [value]="catalogo.clave">{{ catalogo.descripcion }}</option>
                      </ng-container>
                    </select>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <!-- Simple Buttons-->
    <button class="btn btn-success"
            (click)="onClickAceptar()"
            type="button"
    >
      Aceptar
    </button>
    <button
      class="btn btn-danger"
      type="button"
      (click)="activeModal.close('Close click')"
    >
      Cancelar
    </button>
  </div>
</div>
