<div class="modal-header">
  <h4 class="modal-title">CLIENTE</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="card">
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 form-group row">
            <div class="col-lg-2">
              <label>Numero de cliente:</label>
            </div>
            <div class="col-lg-4">
              <input
                class="form-control form-control-sm"
                type="text"
                [disabled]="isUpdate"
                [(ngModel)]="clienteInformacion.idCliente"
              />
            </div>
            <div class="col-lg-2 pr-0">
              <label>Tipo persona:</label>
            </div>
            <div class="col-lg-4 pl-0">
              <select
                class="form-control form-control-sm pl-0"
                [(ngModel)]="clienteInformacion.tipoPersona"
                [disabled]="clienteInformacion.tipoPersona == '3'"
                (ngModelChange)="changeTP()"
              >
                <option
                  [ngValue]="cat.clave"
                  *ngFor="let cat of catalogosInformacion['tipoPersona']"
                >
                  {{ cat.descripcion }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-lg-12 form-group row">
            <div class="col-lg-2">
              <label>Nombre cliente:</label>
            </div>
            <div class="col-lg-10">
              <input
                class="form-control form-control-sm"
                type="text"
                [(ngModel)]="clienteInformacion.nombreCliente"
              />
            </div>
          </div>
          <div class="col-lg-12 form-group row">
            <div class="col-lg-2">
              <label>Apellido paterno:</label>
            </div>
            <div class="col-lg-10">
              <input
                class="form-control form-control-sm"
                type="text"
                [(ngModel)]="clienteInformacion.apellidoPaterno"
                [disabled]="clienteInformacion.tipoPersona == '3'"
              />
            </div>
          </div>
          <div class="col-lg-12 form-group row">
            <div class="col-lg-2">
              <label>Apellido materno:</label>
            </div>
            <div class="col-lg-10">
              <input
                class="form-control form-control-sm"
                type="text"
                [(ngModel)]="clienteInformacion.apellidoMaterno"
                [disabled]="clienteInformacion.tipoPersona == '3'"
              />
            </div>
          </div>
          <div class="col-lg-12 form-group row">
            <div class="col-lg-2">
              <label>Fecha nacimiento:</label>
            </div>
            <div class="pl-0 col-lg-4">
              <div class="input-group col-xl-12 pr-0">
                <input
                  class="form-control bg-white"
                  id="fechaContratacion"
                  type="text"
                  ngbDatepicker
                  #b="ngbDatepicker"
                  placeholder="dd/mm/aaaa"
                  name="fechaContratacion"
                  [(ngModel)]="clienteInformacion.fechaNacimiento"
                  (click)="b.toggle()"
                  style="font-size: 0.85rem"
                />
                <div class="input-group-append" style="height: 2.1rem">
                  <button
                    class="btn btn-outline-secondary calendar"
                    (click)="b.toggle()"
                    type="button"
                    style="padding-top: 4px"
                  >
                    <fa-icon icon="calendar-alt"></fa-icon>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-lg-2 pr-0">
              <label>CURP :</label>
            </div>
            <div class="col-lg-4 pl-0">
              <div class="input-group col-xl-12 pr-0 pl-0">
                <input
                  class="form-control form-control-sm"
                  type="text"
                  [(ngModel)]="clienteInformacion.curp"
                  [pattern]="curpRegEx"
                  maxlength="18"
                  #curp="ngModel"
                  (ngModelChange)="isValid()"
                />
              </div>
              <div *ngIf="curp.errors?.pattern">
                <label class="color-red"> Valor con formato incorrecto.</label>
              </div>
            </div>
          </div>
          <div class="col-lg-12 form-group row">
            <div class="col-lg-2">
              <label>RFC:</label>
            </div>
            <div class="col-lg-4">
              <input
                class="form-control form-control-sm"
                type="text"
                [(ngModel)]="clienteInformacion.rfc"
                [pattern]="rfcRegEx"
                minlength="10"
                maxlength="13"
                #rfc="ngModel"
                (ngModelChange)="isValid()"
              />
            </div>
            <div *ngIf="rfc.errors?.pattern">
              <label class="color-red"> Valor con formato incorrecto.</label>
            </div>
          </div>
          <div class="col-lg-12 form-group row">
            <div class="col-lg-2">
              <label>Pais domicilio:</label>
            </div>
            <div class="col-lg-10">
              <select
                class="form-control form-control-sm"
                [(ngModel)]="clienteInformacion.paisDomicilio"
                (ngModelChange)="changePais()"
              >
                <option
                  [ngValue]="cat.clave"
                  *ngFor="let cat of catalogosInformacion['residencia']"
                >
                  {{ cat.descripcion }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-lg-12 form-group row">
            <div class="col-lg-2">
              <label *ngIf="clienteInformacion.residencia == 'MX'"
                >Calle domicilio:</label
              >
              <label *ngIf="clienteInformacion.residencia != 'MX'"
                >Street:</label
              >
            </div>
            <div class="col-lg-10">
              <input
                class="form-control form-control-sm"
                type="text"
                [(ngModel)]="clienteInformacion.calleDomicilio"
              />
            </div>
          </div>
          <div
            class="col-lg-12 form-group row"
            *ngIf="clienteInformacion.residencia == 'MX'"
          >
            <div class="col-lg-2">
              <label>Codigo postal:</label>
            </div>
            <div class="col-lg-10">
              <input
                name="codigoPostal"
                class="form-control form-control-sm"
                type="text"
                [(ngModel)]="clienteInformacion.codigoPostalDom"
                [pattern]="enteroPattern"
                maxlength="5"
                #codigoPostal="ngModel"
                (ngModelChange)="isValid('cp')"
              />
              <div
                *ngIf="
                  codigoPostal.errors?.pattern ||
                  (clienteInformacion.codigoPostalDom.length < 5 &&
                    clienteInformacion.codigoPostalDom.length > 0)
                "
              >
                <label class="color-red"> Valor con formato incorrecto.</label>
              </div>
              <div
                *ngIf="
                  !codigoPostal.errors?.pattern &&
                  !cpExist &&
                  clienteInformacion.codigoPostalDom.length == 5
                "
              >
                <label class="color-red"> El código postal no existe.</label>
              </div>
            </div>
          </div>
          <div
            class="col-lg-12 form-group row"
            *ngIf="clienteInformacion.residencia == 'MX'"
          >
            <div class="col-lg-2">
              <label>Colonia domicilio:</label>
            </div>
            <div class="col-lg-4">
              <select
                id="selColonia"
                class="form-control form-control-sm"
                [(ngModel)]="selectedColonia"
                (ngModelChange)="changeColonia()"
              >
                <option [ngValue]="colonia.id" *ngFor="let colonia of colonias">
                  {{ colonia.colonia }}
                </option>
              </select>
            </div>
            <div class="col-lg-6">
              <input
                class="form-control form-control-sm"
                type="text"
                [(ngModel)]="clienteInformacion.coloniaDomicilio"
                [disabled]="selectedColonia !== '99999'"
              />
            </div>
          </div>
          <div class="col-lg-12 form-group row">
            <div class="col-lg-2">
              <label *ngIf="clienteInformacion.residencia == 'MX'"
                >Municipio domicilio:</label
              >
              <label *ngIf="clienteInformacion.residencia != 'MX'"
                >Zip Code & State:</label
              >
            </div>
            <div class="col-lg-10">
              <input
                class="form-control form-control-sm"
                type="text"
                [(ngModel)]="clienteInformacion.municipioDomicilio"
                [disabled]="clienteInformacion.residencia == 'MX'"
              />
            </div>
          </div>
          <div
            class="col-lg-12 form-group row"
            *ngIf="clienteInformacion.residencia == 'MX'"
          >
            <div class="col-lg-2">
              <label>Estado domicilio:</label>
            </div>
            <div class="col-lg-10">
              <input
                class="form-control form-control-sm"
                type="text"
                [(ngModel)]="estado"
                [disabled]="clienteInformacion.residencia == 'MX'"
              />
            </div>
          </div>
          <div class="col-lg-12 form-group row">
            <div class="col-lg-2">
              <label *ngIf="clienteInformacion.residencia == 'MX'"
                >Ciudad domicilio:</label
              >
              <label *ngIf="clienteInformacion.residencia != 'MX'">City:</label>
            </div>
            <div class="col-lg-10">
              <input
                class="form-control form-control-sm"
                type="text"
                [(ngModel)]="clienteInformacion.ciudadDomicilio"
                [disabled]="clienteInformacion.residencia == 'MX'"
              />
            </div>
          </div>
          <div class="col-lg-12 form-group row">
            <div class="col-lg-2">
              <label>Residencia:</label>
            </div>
            <div class="col-lg-4">
              <select
                class="form-control form-control-sm"
                [(ngModel)]="clienteInformacion.residencia"
                [disabled]="true"
              >
                <option
                  [ngValue]="cat.clave"
                  *ngFor="let cat of catalogosInformacion['residencia']"
                >
                  {{ cat.descripcion }}
                </option>
              </select>
            </div>
            <div class="col-lg-2 pr-0">
              <label>Reside:</label>
            </div>
            <div class="col-lg-4 pl-0">
              <select
                class="form-control form-control-sm pl-0"
                [(ngModel)]="clienteInformacion.reside"
                [disabled]="true"
              >
                <option
                  [ngValue]="cat.clave"
                  *ngFor="let cat of catalogosInformacion['reside']"
                >
                  {{ cat.descripcion }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-lg-12 form-group row">
            <div class="col-lg-2">
              <label>Exceptuado IPAB:</label>
            </div>
            <div class="col-lg-4">
              <select
                class="form-control form-control-sm"
                [(ngModel)]="clienteInformacion.exceptuadoIPAB"
              >
                <option
                  [ngValue]="cat.clave"
                  *ngFor="let cat of catalogosInformacion['exceptuadoIPAB']"
                >
                  {{ cat.descripcion }}
                </option>
              </select>
            </div>
            <div class="col-lg-2 pr-0">
              <label>Fideicomiso:</label>
            </div>
            <div class="col-lg-4 pl-0">
              <select
                class="form-control form-control-sm pl-0"
                [(ngModel)]="clienteInformacion.fideicomiso"
              >
                <option
                  [ngValue]="cat.clave"
                  *ngFor="let cat of catalogosInformacion['fideicomiso']"
                >
                  {{ cat.descripcion }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-lg-12 form-group row">
            <div class="col-lg-2">
              <label>Correo electrónico:</label>
            </div>
            <div class="col-lg-10">
              <input
                class="form-control form-control-sm"
                type="text"
                [(ngModel)]="clienteInformacion.correoElectronico"
              />
            </div>
          </div>
          <div class="col-lg-12 form-group row">
            <div class="col-lg-6">
              <div
                class="col-lg-12 pl-0 pr-0 mb-2"
                *ngFor="
                  let tel of clienteInformacion.listTelefonoDomicilio;
                  let indexOfelement = index
                "
              >
                <label>Telefono domicilio:</label>
                <div class="d-flex flex-row">
                  <input
                    class="form-control"
                    type="text"
                    [(ngModel)]="tel"
                    (change)="changeTelDom(indexOfelement, tel)"
                  />
                  <div class="btn-group ml-3">
                    <button
                      class="btn btn-danger"
                      type="button"
                      (click)="restTelDom(indexOfelement)"
                    >
                      <fa-icon icon="minus"></fa-icon>
                    </button>
                    <button
                      class="btn btn-primary"
                      id="btnAltaModificacion"
                      (click)="addTelDom('')"
                    >
                      <fa-icon icon="plus"></fa-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div
                class="col-lg-12 pl-0 pr-0 mb-2"
                *ngFor="
                  let tel of clienteInformacion.listTelefonoOficina;
                  let indexOfelement = index
                "
              >
                <label>Telefono oficina:</label>
                <div class="d-flex flex-row">
                  <input
                    class="form-control"
                    type="text"
                    [(ngModel)]="tel"
                    (change)="changeTelOfi(indexOfelement, tel)"
                  />
                  <div class="btn-group ml-3">
                    <button
                      class="btn btn-danger"
                      type="button"
                      (click)="restTelOfi(indexOfelement)"
                    >
                      <fa-icon icon="minus"></fa-icon>
                    </button>
                    <button
                      class="btn btn-primary"
                      id="btnAltaModificacion"
                      (click)="addTelOfi('')"
                    >
                      <fa-icon icon="plus"></fa-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12 form-group row">
            <div class="col-lg-2">
              <label>Estatus cliente:</label>
            </div>
            <div class="col-lg-4">
              <select
                class="form-control form-control-sm"
                [(ngModel)]="clienteInformacion.estatuscliente"
              >
                <option
                  [ngValue]="cat.clave"
                  *ngFor="let cat of catalogosInformacion['estatusRegistro']"
                >
                  {{ cat.descripcion }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      class="btn btn-success"
      type="button"
      (click)="actualizarCliente()"
      [disabled]="!valid"
    >
      Aceptar
    </button>
    <button
      class="btn btn-danger"
      type="button"
      (click)="activeModal.close('Close click')"
    >
      Cancelar
    </button>
  </div>
</div>
