<div class="container mt-3">
  <div class="card mt-3">
    <div class="card-body tabs-card">
      <ngb-tabset>
        <ngb-tab>
          <ng-template ngbTabTitle><b> Parámetros</b></ng-template>
          <ng-template ngbTabContent>
            <div class="card mt-2">
              <div class="card-header pb-0 pt-0">
                <div class="flex-fill align-self-center">
                  <label
                    class="col-lg-3 col-form-label form-control-label setBolder pb-0"
                  >
                    Criterios de búsqueda:
                  </label>
                </div>
              </div>
              <div class="card-body">
                <div class="form-row">
                  <div class="col-4 col-md-4 col-lg-4">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <label for="codigo" class="input-group-text">
                          Tipo de Parámetro:
                        </label>
                      </div>
                      <input
                        class="form-control"
                        id="tipoParametro"
                        name="tipoParametro"
                        [(ngModel)]="tipoParametro"
                      />
                    </div>
                  </div>
                  <div class="col-4 col-md-4 col-lg-4">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <label for="codigo" class="input-group-text">
                          Id:
                        </label>
                      </div>
                      <input
                        class="form-control"
                        id="idParametro"
                        name="idParametro"
                        [(ngModel)]="idParametro"
                      />
                    </div>
                  </div>
                  <div class="col-4 col-md-4 col-lg-4">
                    <div class="row justify-content-end">
                      <div class="col-md-2">
                        <div class="btn-group">
                          <button class="btn btn-primary" (click)="onClickSearchParametros()">
                            <fa-icon icon="search"></fa-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mt-3">
              <div class="card-body height-card-table">
                <div class="row">
                  <div class="col-md-11">
                    <div class="table-responsive">
                      <table class="table table-hover">
                        <thead class="thead-light">
                        <tr class="hover-primary">
                          <th class="col-3" scope="col">Tipo de parametro</th>
                          <th class="col-3" scope="col">Id</th>
                          <th class="col-3" scope="col">Campo</th>
                          <th class="col-3" scope="col">Valor</th>
                        </tr>
                        </thead>
                        <tbody class="max-row-7">
                        <tr
                          class="cursor-pointer hover-primary"
                          *ngFor="let parametro of listaParametros; let i=index"
                          (click)="onSelectedParametro(parametro)"
                        >
                          <td class="col-3">{{parametro.tipo}}</td>
                          <td class="col-3">{{parametro.paramName}}</td>
                          <td class="col-3">{{parametro.descripcion}}</td>
                          <td class="col-3">{{parametro.paramValue}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="col-md-1 justify-content-buttons">
                    <div class="row justify-content-edit-button">
                      <button class="btn btn-primary" type="button" (click)="openModalEditarParametro()">
                        <fa-icon icon="edit"></fa-icon>
                      </button>
                    </div>
                    <div class="row justify-content-edit-button">
                      <button class="btn btn-primary" type="button">
                        <fa-icon icon="trash"></fa-icon>
                      </button>
                    </div>
                    <div class="row justify-content-edit-button">
                      <button class="btn btn-primary" type="button" (click)="openModalAltaParametro()">
                        <fa-icon icon="plus"></fa-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle><b> Categorías</b></ng-template>
          <ng-template ngbTabContent>
            <div class="card mt-2">
              <div class="card-header pb-0 pt-0">
                <div class="flex-fill align-self-center">
                  <label
                    class="col-lg-3 col-form-label form-control-label setBolder pb-0"
                  >
                    Criterios de búsqueda:
                  </label>
                </div>
              </div>
              <div class="card-body">
                <div class="form-row">
                  <div class="col-4 col-md-4 col-lg-4">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <label for="codigo" class="input-group-text">
                          Categoria:
                        </label>
                      </div>
                      <input
                        class="form-control"
                        id="categoria"
                        name="categoria"
                        [(ngModel)]="categoria"
                      />
                    </div>
                  </div>
                  <div class="col-8 col-md-8 col-lg-8">
                    <div class="row justify-content-end">
                      <div class="btn-group mr-3">
                        <button class="btn btn-primary" (click)="onClickSearchCategorias()">
                          <fa-icon icon="search"></fa-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mt-3">
              <div class="card-body height-card-table">
                <div class="row">
                  <div class="col-md-11">
                    <div class="table-responsive">
                      <table class="table table-hover">
                        <thead class="thead-light">
                        <tr class="hover-primary">
                          <th class="col-1" scope="col">Alta</th>
                          <th class="col-1" scope="col">Aplicacion</th>
                          <th class="col-1" scope="col">ID</th>
                          <th class="col-1" scope="col">Categoria</th>
                          <th class="col-1" scope="col">Descripcion</th>
                          <th class="col-1" scope="col">Nombre</th>
                          <th class="col-1" scope="col">Tipo</th>
                          <th class="col-1" scope="col">Nivel</th>
                          <th class="col-1" scope="col">Modalidad</th>
                          <th class="col-1" scope="col">Descripcion IPAB</th>
                          <th class="col-1" scope="col">Producto IPAB</th>
                          <th class="col-1" scope="col">Fecha</th>
                          <th class="col-1" scope="col">Tipo</th>
                        </tr>
                        </thead>
                        <tbody class="max-row-7">
                        <tr
                          class="cursor-pointer hover-primary"
                          *ngFor="let categoria of listaCategorias; let i=index"
                        >
                          <td class="col-1">{{categoria.isAlta}}</td>
                          <td class="col-1">{{categoria.aplicacion}}</td>
                          <td class="col-1">{{categoria.idRegistro}}</td>
                          <td class="col-1">{{categoria.categoria}}</td>
                          <td class="col-1">{{categoria.descripcion}}</td>
                          <td class="col-1">{{categoria.shortName}}</td>
                          <td class="col-1">{{categoria.tipoProd}}</td>
                          <td class="col-1">{{categoria.nivelCta}}</td>
                          <td class="col-1">{{categoria.modalidad}}</td>
                          <td class="col-1">{{categoria.descripcionIPAB}}</td>
                          <td class="col-1">{{categoria.productoIPAB}}</td>
                          <td class="col-1">{{categoria.loadDate}}</td>
                          <td class="col-1">{{categoria.tipo}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="col-md-1 justify-content-buttons">
                    <div class="row justify-content-edit-button">
                      <button class="btn btn-primary" type="button" (click)="openModalEditarCategoria()">
                        <fa-icon icon="edit"></fa-icon>
                      </button>
                    </div>
                    <div class="row justify-content-edit-button">
                      <button class="btn btn-primary" type="button">
                        <fa-icon icon="trash"></fa-icon>
                      </button>
                    </div>
                    <div class="row justify-content-edit-button">
                      <button class="btn btn-primary" type="button" (click)="openModalAltaCategoria()">
                        <fa-icon icon="plus"></fa-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle><b> Días Festivos</b></ng-template>
          <ng-template ngbTabContent>
            <div class="card mt-2">
              <div class="card-header pb-0 pt-0">
                <div class="flex-fill align-self-center">
                  <label
                    class="col-lg-3 col-form-label form-control-label setBolder pb-0"
                  >
                    Criterios de búsqueda:
                  </label>
                </div>
              </div>
              <div class="card-body">
                <div class="form-row">
                  <div class="col-4 col-md-4 col-lg-4">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <label for="anio" class="input-group-text">
                          Año:
                        </label>
                      </div>
                      <div class="col-sm-8 col-md-8">
                        <select class="form-control col-9 pr-0" id="anio" name="anio" [(ngModel)]="anio">
                          <option *ngFor="let anio of anios" [ngValue]="anio">{{ anio }}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-8 col-md-8 col-lg-8">
                    <div class="row justify-content-end">
                      <div class="btn-group mr-3">
                        <button class="btn btn-primary" (click)="onClickSearchCalendario()">
                          <fa-icon icon="search"></fa-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mt-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-11">
                    <div class="table-responsive">
                      <table class="table table-hover">
                        <thead class="thead-light">
                        <tr class="hover-primary">
                          <th class="col-12" scope="col">Año</th>
                        </tr>
                        </thead>
                        <tbody class="max-row-12">
                        <tr
                          class="cursor-pointer hover-primary"
                          (click)="onSelectedIndex(0)"
                        >
                          <td class="col-12">MX002021</td>
                        </tr>
                      </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="col-md-1 justify-content-buttons">
                    <div class="row justify-content-edit-button">
                      <button class="btn btn-primary" type="button" (click)="openModalEditarHoliday()">
                        <fa-icon icon="edit"></fa-icon>
                      </button>
                    </div>
                    <div class="row justify-content-edit-button">
                      <button class="btn btn-primary" type="button">
                        <fa-icon icon="trash"></fa-icon>
                      </button>
                    </div>
                    <div class="row justify-content-edit-button">
                      <button class="btn btn-primary" type="button" (click)="openModalAltaHoliday()">
                        <fa-icon icon="plus"></fa-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>
