<div class="container mt-3">
  <div class="section mt-3">
    <div class="row">
      <div class="col-12">
        <div class="container-fluid">
          <div class="row">
            <div class="flex-fill align-self-center">
              <h5>PARÁMETROS</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body tabs-card">
      <ngb-tabset>
        <ngb-tab>
          <ng-template ngbTabTitle><b> Parámetros</b></ng-template>
          <ng-template ngbTabContent>
            <div class="card mt-2">
              <div class="card-header pb-0 pt-0">
                <div class="flex-fill align-self-center">
                  <label
                    class="col-lg-3 col-form-label form-control-label setBolder pb-0"
                  >
                    Criterios de búsqueda:
                  </label>
                </div>
              </div>
              <div class="card-body">
                <div class="form">
                  <div class="form-row">
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                      <div class="input-group">
                        <label class="
                            col-5 col-md-5 col-lg-5 col-form-label
                            form-control-label
                          ">
                          Tipo de parametro :
                        </label>
                        <input class="form-control" id="tipoParametro" name="tipoParametro" />
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                      <div class="input-group">
                        <div class="col-4 col-md-4 col-lg-4 mt-1">
                          <label class="mt-1">ID :</label>
                        </div>
                        <input class="form-control" id="id" name="id" />
                      </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-1 col-xl-4 mt-1"></div>
                    <div class="col-12 col-md-12 col-lg-3 col-xl-2">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="btn-group d-flex justify-content-center">
                            <button class="btn btn-primary">
                              <fa-icon icon="search"></fa-icon>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mt-3">
              <div class="card-body height-card-table">
                <div class="row">
                  <div class="col-md-11">
                    <div class="table-responsive">
                      <table class="table table-hover table-fixed">
                        <thead class="thead-light">
                        <tr class="hover-primary">
                          <th class="col-3" scope="col">Tipo de parametro</th>
                          <th class="col-3" scope="col">ID</th>
                          <th class="col-3" scope="col">Campo</th>
                          <th class="col-3" scope="col">Valor</th>
                        </tr>
                        </thead>
                        <tbody class="max-row-7">
                        <tr
                          class="cursor-pointer hover-primary"
                        >
                          <td class="col-3"></td>
                          <td class="col-3"></td>
                          <td class="col-3"></td>
                          <td class="col-3"></td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="col-md-1 justify-content-buttons">
                    <div class="row justify-content-edit-button">
                      <button class="btn btn-primary" type="button" (click)="openModalEditarParametro()">
                        <fa-icon icon="edit"></fa-icon>
                      </button>
                    </div>
                    <div class="row justify-content-edit-button">
                      <button class="btn btn-primary" type="button">
                        <fa-icon icon="trash"></fa-icon>
                      </button>
                    </div>
                    <div class="row justify-content-edit-button">
                      <button class="btn btn-primary" type="button" (click)="openModalAltaParametro()">
                        <fa-icon icon="plus"></fa-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle><b> Categorías</b></ng-template>
          <ng-template ngbTabContent>
            <div class="card mt-2">
              <div class="card-header pb-0 pt-0">
                <div class="flex-fill align-self-center">
                  <label
                    class="col-lg-3 col-form-label form-control-label setBolder pb-0"
                  >
                    Criterios de búsqueda:
                  </label>
                </div>
              </div>
              <div class="card-body">
                <div class="form">
                  <div class="form-row">
                    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                      <div class="input-group">
                        <div class="col-3 col-md-3 col-lg-3 mt-1">
                          <label class="mt-1">Categoria :</label>
                        </div>
                        <div class="col-4 col-md-4 col-lg-4">
                          <input class="form-control" id="categoria" name="categoria" />
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-6 col-xl-6">
                      <div class="d-flex justify-content-end">
                        <button class="btn btn-primary">
                          <fa-icon icon="search"></fa-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mt-3">
              <div class="card-body height-card-table">
                <div class="row">
                  <div class="col-md-11">
                    <div class="table-responsive">
                      <table class="table table-hover table-fixed">
                        <thead class="thead-light">
                        <tr class="hover-primary">
                          <th class="col-4" scope="col">Codigo</th>
                          <th class="col-4" scope="col">Categoria</th>
                          <th class="col-4" scope="col">Descripcion</th>
                        </tr>
                        </thead>
                        <tbody class="max-row-7">
                        <tr
                          class="cursor-pointer hover-primary"
                        >
                          <td class="col-4"></td>
                          <td class="col-4"></td>
                          <td class="col-4"></td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="col-md-1 justify-content-buttons">
                    <div class="row justify-content-edit-button">
                      <button class="btn btn-primary" type="button" (click)="openModalEditarCategoria()">
                        <fa-icon icon="edit"></fa-icon>
                      </button>
                    </div>
                    <div class="row justify-content-edit-button">
                      <button class="btn btn-primary" type="button">
                        <fa-icon icon="trash"></fa-icon>
                      </button>
                    </div>
                    <div class="row justify-content-edit-button">
                      <button class="btn btn-primary" type="button" (click)="openModalAltaCategoria()">
                        <fa-icon icon="plus"></fa-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle><b> Días Festivos</b></ng-template>
          <ng-template ngbTabContent>
            <div class="card mt-2">
              <div class="card-header pb-0 pt-0">
                <div class="flex-fill align-self-center">
                  <label
                    class="col-lg-3 col-form-label form-control-label setBolder pb-0"
                  >
                    Criterios de búsqueda:
                  </label>
                </div>
              </div>
              <div class="card-body">
                <div class="form">
                  <div class="form-row">
                    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                      <div class="input-group">
                        <div class="col-3 col-md-3 col-lg-3 mt-1">
                          <label class="mt-1">Año :</label>
                        </div>
                        <div class="col-4 col-md-4 col-lg-4">
                          <select class="form-control form-control-sm">
                            <option>2021</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-6 col-xl-6">
                      <div class="d-flex justify-content-end">
                        <button class="btn btn-primary">
                          <fa-icon icon="search"></fa-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mt-3">
              <div class="card-body height-card-table">
                <div class="row">
                  <div class="col-md-11">
                    <div class="table-responsive">
                      <table class="table table-hover table-fixed">
                        <thead class="thead-light">
                        <tr class="hover-primary">
                          <th class="col-12" scope="col">Año</th>
                        </tr>
                        </thead>
                        <tbody class="max-row-7">
                        <tr
                          class="cursor-pointer hover-primary"
                        >
                          <td class="col-4">MX002021</td>
                        </tr>
                      </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="col-md-1 justify-content-buttons">
                    <div class="row justify-content-edit-button">
                      <button class="btn btn-primary" type="button" (click)="openModalEditarHoliday()">
                        <fa-icon icon="edit"></fa-icon>
                      </button>
                    </div>
                    <div class="row justify-content-edit-button">
                      <button class="btn btn-primary" type="button">
                        <fa-icon icon="trash"></fa-icon>
                      </button>
                    </div>
                    <div class="row justify-content-edit-button">
                      <button class="btn btn-primary" type="button" (click)="openModalAltaHoliday()">
                        <fa-icon icon="plus"></fa-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>
