<div class="container mt-3">
  <div class="section mt-3">
    <div class="row">
      <div class="col-12">
        <div class="container-fluid">
          <div class="row">
            <div class="flex-fill align-self-center ml-3">
              <h5>REPROCESO ARCHIVO T24</h5>
            </div>
          </div>
          <div class="card mt-2">
            <div class="card-body">
              <div class="row d-flex justify-content-center">
                <div class="col-auto px-0">
                  <div
                    class="form-group row pt-3 d-flex justify-content-center"
                  >
                    <div class="col-lg-12 pt-3 text-center">
                      <strong
                        >Seleccione la fecha para el reproceso de los
                        archivos</strong
                      >
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-5 col-form-label form-control-label"
                      >Layout:</label
                    >
                    <div class="col-7">
                      <select
                        id="layout"
                        class="form-control"
                        size="0"
                        name="layout"
                        [(ngModel)]="selectedLayout"
                        (ngModelChange)="limpiarArchivos()"
                      >
                        <option
                          *ngFor="let layout of layouts"
                          [ngValue]="layout.clave"
                        >
                          {{ layout.descripcion }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-lg-5 col-form-label form-control-label">
                      Fecha:
                    </label>
                    <div class="col-sm-7 col-md-7 col-lg-7">
                      <div class="input-group">
                        <input
                          class="form-control bg-white"
                          id="fechaProceso"
                          type="text"
                          [(ngModel)]="fecha"
                          ngbDatepicker
                          #d="ngbDatepicker"
                          placeholder="dd/mm/aaaa"
                          [maxDate]="maxFecha"
                          (focus)="d.toggle()"
                          name="fechaProceso"
                          (ngModelChange)="limpiarArchivos()"
                          [markDisabled]="fechasFestivos"
                          (navigate)="nuevasFechas($event)"
                        />
                        <div class="input-group-append">
                          <button
                            class="btn btn-outline-secondary calendar"
                            (click)="d.toggle()"
                            type="button"
                          >
                            <fa-icon icon="calendar-alt"></fa-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 text-align-right">
                  <button
                    (click)="limpiar()"
                    class="btn btn-danger mr-2"
                    type="button"
                  >
                    Limpiar
                  </button>
                  <button
                    (click)="onClickConsultar()"
                    class="btn btn-primary mr-2"
                    type="button"
                  >
                    Validar
                  </button>
                  <button
                    (click)="onClickAceptar()"
                    class="btn btn-success mr-2"
                    type="button"
                    [disabled]="!valid"
                  >
                    Reproceso Archivo
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12">
        <div class="container-fluid">
          <div class="card mt-2">
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <label class="ml-4">Archivos</label>

                  <div class="card mt-2 archivos-card-height">
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table table-hover table-fixed">
                          <thead class="thead-light">
                            <tr class="hover-primary">
                              <th class="col-6" scope="col">Tipo Archivo</th>
                              <th class="col-6" scope="col">
                                Nombre del archivo
                              </th>
                            </tr>
                          </thead>
                          <tbody class="max-row-7 table-scroll">
                            <ng-container *ngFor="let row of files">
                              <tr class="cursor-pointer hover-primary">
                                <td class="col-6">
                                  {{ row.descripcionArchivo }}
                                </td>
                                <td class="col-6">{{ row.nombreArchivo }}</td>
                              </tr>
                            </ng-container>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
